In [45]:
#function create a table colname|| datatype||continuous/class
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Desktop\\\house\\train.csv")
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [33]:
df.nunique()

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       110
LotArea          1073
Street              2
Alley               2
LotShape            4
LandContour         4
Utilities           2
LotConfig           5
LandSlope           3
Neighborhood       25
Condition1          9
Condition2          8
BldgType            5
HouseStyle          8
OverallQual        10
OverallCond         9
YearBuilt         112
YearRemodAdd       61
RoofStyle           6
RoofMatl            8
Exterior1st        15
Exterior2nd        16
MasVnrType          4
MasVnrArea        327
ExterQual           4
ExterCond           5
Foundation          6
                 ...
BedroomAbvGr        8
KitchenAbvGr        4
KitchenQual         4
TotRmsAbvGrd       12
Functional          7
Fireplaces          4
FireplaceQu         5
GarageType          6
GarageYrBlt        97
GarageFinish        3
GarageCars          5
GarageArea        441
GarageQual          5
GarageCond          5
PavedDrive          3
WoodDeckSF        274
OpenPorchSF       202
EnclosedPorch     120
3SsnPorch          20
ScreenPorch        76
PoolArea            8
PoolQC              3
Fence               4
MiscFeature         4
MiscVal            21
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64

In [34]:
def filterVariables(df):
    data = []
    for col in df.columns:
        if df[col].nunique()>3: #dtype == 'float64':
            level = 'continuous'
        elif df[col].nunique()<3: #dtype == 'int64':
            level = 'class'
       

        col_dict = {
            'varname': col,
            'datatype': df[col].dtype,
            'continuous_class': level
           
        }
        data.append(col_dict)
        

    meta = pd.DataFrame(data, columns=['varname', 'datatype','continuous_class'])
    meta.set_index('varname', inplace=True)
    return meta

In [38]:
df=filterVariables(df)
df

              datatype continuous_class
varname
Id               int64       continuous
MSSubClass       int64       continuous
MSZoning        object       continuous
LotFrontage    float64       continuous
LotArea          int64       continuous
Street          object            class
Alley           object            class
LotShape        object       continuous
LandContour     object       continuous
Utilities       object            class
LotConfig       object       continuous
LandSlope       object       continuous
Neighborhood    object       continuous
Condition1      object       continuous
Condition2      object       continuous
BldgType        object       continuous
HouseStyle      object       continuous
OverallQual      int64       continuous
OverallCond      int64       continuous
YearBuilt        int64       continuous
YearRemodAdd     int64       continuous
RoofStyle       object       continuous
RoofMatl        object       continuous
Exterior1st     object       continuous
Exterior2nd     object       continuous
MasVnrType      object       continuous
MasVnrArea     float64       continuous
ExterQual       object       continuous
ExterCond       object       continuous
Foundation      object       continuous
...                ...              ...
BedroomAbvGr     int64       continuous
KitchenAbvGr     int64       continuous
KitchenQual     object       continuous
TotRmsAbvGrd     int64       continuous
Functional      object       continuous
Fireplaces       int64       continuous
FireplaceQu     object       continuous
GarageType      object       continuous
GarageYrBlt    float64       continuous
GarageFinish    object       continuous
GarageCars       int64       continuous
GarageArea       int64       continuous
GarageQual      object       continuous
GarageCond      object       continuous
PavedDrive      object       continuous
WoodDeckSF       int64       continuous
OpenPorchSF      int64       continuous
EnclosedPorch    int64       continuous
3SsnPorch        int64       continuous
ScreenPorch      int64       continuous
PoolArea         int64       continuous
PoolQC          object       continuous
Fence           object       continuous
MiscFeature     object       continuous
MiscVal          int64       continuous
MoSold           int64       continuous
YrSold           int64       continuous
SaleType        object       continuous
SaleCondition   object       continuous
SalePrice        int64       continuous

[81 rows x 2 columns]

In [50]:
# to coumt null value
def countNullValue(df):
    
    total = df.isnull().sum().sort_values(ascending = False)
    percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
   # col=df.columns
    missing_application_train_data=pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_application_train_data
    '''
     missing_application_train_data=missing_application_train_data.T
    print(missing_application_train_data)
    for i in missing_application_train_data.columns:
        if missing_application_train_data[i][1]>30:
            df.drop(i,inplace=True)
    return df
    '''
   
   # missing_application_train_data.head(20)

In [52]:
abc=countNullValue(df)
abc.head()

             Total    Percent
PoolQC        1453  99.520548
MiscFeature   1406  96.301370
Alley         1369  93.767123
Fence         1179  80.753425
FireplaceQu    690  47.260274

In [41]:
abc=abc.T
abc

,PoolQC,MiscFeature,Alley,Fence,FireplaceQu,LotFrontage,GarageCond,GarageType,GarageYrBlt,GarageFinish,...,BsmtFullBath,GrLivArea,LowQualFinSF,2ndFlrSF,1stFlrSF,CentralAir,SaleCondition,Heating,TotalBsmtSF,Id
Total,1453.000000,1406.00000,1369.000000,1179.000000,690.000000,259.000000,81.000000,81.000000,81.000000,81.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,99.520548,96.30137,93.767123,80.753425,47.260274,17.739726,5.547945,5.547945,5.547945,5.547945,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
abc['PoolQC'][1]

99.520547945205479

In [58]:
def dropcolhave90pernull(df,abc):
    
    for i in abc.columns:
        if abc[i][1]>30:
            df.drop(i,axis=1,inplace=True)
    return df

In [59]:
df=dropcolhave90pernull(df,abc)

ValueError: labels ['Total'] not contained in axis

In [62]:
 for i in abc.columns:
        if abc[i][1]>30:
            df.drop(i,inplace=True)

ValueError: labels ['Total'] not contained in axis

In [106]:
m=filterVariables(df)
m

            datatype continuous_class
varname
PassengerId    int64       continuous
Survived       int64            class
Pclass         int64            class
Name          object       continuous
Sex           object            class
Age          float64       continuous
SibSp          int64       continuous
Parch          int64       continuous
Ticket        object       continuous
Fare         float64       continuous
Cabin         object       continuous
Embarked      object       continuous

In [111]:
trans=m.T
trans

varname,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
datatype,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object
continuous_class,continuous,class,class,continuous,class,continuous,continuous,continuous,continuous,continuous,continuous,continuous

In [110]:
trans.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object', name='varname')

In [181]:
for i in trans.columns:
    
    if (trans[i].iloc[1:]=='continuous').any():
        df[i].fillna(df[i].median(),inplace=True)
    elif(trans[i].iloc[1:]=='class').any():
        df[i].fillna(df[i].mode(),inplace=True)
            
df

TypeError: could not convert string to float: 'Dooley, Mr. Patrick'

In [178]:
for i in trans.columns:
    print(i)
    i=""+i+""
    #print(trans[i]=='continuous')
    print("**")    
    #print(trans[trans[i]=='continuous'])
    print(trans[i].iloc[1:])

PassengerId
**
continuous_class    continuous
Name: PassengerId, dtype: object
Survived
**
continuous_class    class
Name: Survived, dtype: object
Pclass
**
continuous_class    class
Name: Pclass, dtype: object
Name
**
continuous_class    continuous
Name: Name, dtype: object
Sex
**
continuous_class    class
Name: Sex, dtype: object
Age
**
continuous_class    continuous
Name: Age, dtype: object
SibSp
**
continuous_class    continuous
Name: SibSp, dtype: object
Parch
**
continuous_class    continuous
Name: Parch, dtype: object
Ticket
**
continuous_class    continuous
Name: Ticket, dtype: object
Fare
**
continuous_class    continuous
Name: Fare, dtype: object
Cabin
**
continuous_class    continuous
Name: Cabin, dtype: object
Embarked
**
continuous_class    continuous
Name: Embarked, dtype: object

In [182]:
#dftrans['PassengerId']=='continuous'
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [133]:
#for i in trans:
#    print(i)
#    print('**')
trans['PassengerId']

datatype                 int64
continuous_class    continuous
Name: PassengerId, dtype: object

In [136]:
df
for i in df.PassengerId:
    if(df[i]==3):
        
        print ("abc")

KeyError: 1

In [55]:
#a=df['Cabin'].median()
#a
#df.column_name = df.column_name.astype(float)
df.Cabin = df.Cabin.astype(float)

ValueError: could not convert string to float: 'C148'

In [84]:
#How to replace special character from data set
# df1['sales'].str.replace('_','')
#col=list(df.columns)
#for i in col:
 #   df[i].str.replace(',','')
df1=pd.read_excel("C:\\Users\\29265\\Desktop\\data.xlsx",sheetname='Sheet3')
#dictionary = {'í':'i', 'á':'a','#':''}
#df1=df1.replace({'_':''}, regex=True, inplace=True)
df=pd.DataFrame({'a': ['NÍCOLAS','asdč'], 'b': [3,4]})
'''>>> df
         a  b
0  NÍCOLAS  3
1     asdč  4

>>> df.replace({'a': {'č': 'c', 'Í': 'I'}}, regex=True)
         a  b
0  NICOLAS  3
1     asdc  4'''

In [85]:
df1

    str   sales  units    txns
0  str1  _20_\n      1  4000.0
1  str2     30#      1  2000.0
2  str3     NaN      1  1000.0
3  str4      20      1  2000.0
4  str5     NaN      1  2000.0
5  str7      40      1     NaN

In [76]:
dictionary = {'í':'i', 'á':'a','#':'','_':''}
df1.replace(dictionary, regex=True, inplace=True)

In [79]:
df1

    str   sales  units    txns
0  str1  _20_\n      1  4000.0
1  str2     30#      1  2000.0
2  str3     NaN      1  1000.0
3  str4      20      1  2000.0
4  str5     NaN      1  2000.0
5  str7      40      1     NaN

In [87]:
#remove special charecter where d is dataframe, i is that value which needs to be place with j
def removeSpecialChar(d,i,j):
    #dictionary = {'í':'i', 'á':'a','#':'','_':''}
    dictionary = {i:j}
    d.replace(dictionary, regex=True, inplace=True)
    return d

In [88]:
abc=removeSpecialChar(df1,'_','')
abc

    str sales  units    txns
0  str1  20\n      1  4000.0
1  str2   30#      1  2000.0
2  str3   NaN      1  1000.0
3  str4    20      1  2000.0
4  str5   NaN      1  2000.0
5  str7    40      1     NaN

In [83]:
defss=re(df1,'#','')
defss

    str   sales  units    txns
0  str1  _20_\n      1  4000.0
1  str2      30      1  2000.0
2  str3     NaN      1  1000.0
3  str4      20      1  2000.0
4  str5     NaN      1  2000.0
5  str7      40      1     NaN

In [ ]:
def replaceNullValue(m):
    for i in m.continuous_class:
        if(i==continuous):
            a=m[i].median()