In [6]:
from collections import Counter
a=Counter([2,2,3,4])

In [14]:

f=open('abc.txt')
a=f.read()
a=Counter(a.split())
a

Counter({'a': 2,
         'is': 1,
         'kumar': 2,
         'ram': 1,
         'shyam': 1,
         'the': 1,
         'vikash': 2})

In [17]:
a['kumar']

2

In [19]:
data=[]
for i in a:
    datadic={
        'key':i,
        'val':a[i]
    }
    data.append(datadic)
data

[{'key': 'kumar', 'val': 2},
 {'key': 'vikash', 'val': 2},
 {'key': 'ram', 'val': 1},
 {'key': 'shyam', 'val': 1},
 {'key': 'the', 'val': 1},
 {'key': 'is', 'val': 1},
 {'key': 'a', 'val': 2}]

In [21]:
import pandas as pd
pd.DataFrame(data,columns=['key','val'])

      key  val
0   kumar    2
1  vikash    2
2     ram    1
3   shyam    1
4     the    1
5      is    1
6       a    2

In [8]:
key=list(a.keys())
key
val=list(a.values())
val

[2, 1, 1]