In [1]:
# How to sort a Python dict by value
# (== get a representation sorted by value)

xs = {'a': 4, 'b': 3, 'c': 2, 'd': 1}

sorted(xs.items(), key=lambda x: x[1])
#[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

In [4]:
import pandas as pd
d1=pd.read_excel("C:\\Users\\29265\\Desktop\\pythonAssignment.xlsx",sheet_name='sheet1')
d1

     emp   name  age      sal
0  11212   john   28   300000
1  32432   ryan   34   400000
2  35376  roger   29   342882
3  98674   alex   28  3423221
4  36367   kane   29  5435636
5  87363  mitch   30  4232455

In [9]:
def diff():
    import numpy as np
    import pandas as pd
    #d1=pd.read_excel('D:\pythoD1.xlsx')
    #d2=pd.read_excel('D:\pythoD2.xlsx')
    d1=pd.read_excel("C:/Users/29265/Desktop/pythonAssignment.xlsx",sheetname='Sheet1')
    d2=pd.read_excel("C:/Users/29265/Desktop/pythonAssignment.xlsx",sheetname='Sheet2')
    
    diff1=[]
    diff2=[]
    
    #print(d2)
    
    for row in range(d1.shape[0]):
        for col in range(d2.shape[1]):
            d1_data=d1.iloc[row,col]
            d2_data=d2.iloc[row,col]
            if d1_data==d2_data:
                pass
            else:
                diff1.append(d1_data)
                diff2.append(d2_data)
    
    
    sd1=pd.DataFrame(diff1)
    sd2=pd.DataFrame(diff2)
    print('d2 data not in d1 {}'.format(sd1))
    print('d1 data not in d2 {}'.format(sd2))
    return diff1    
    
    
    
if __name__=='__main__':
    diff()

IndexError: single positional indexer is out-of-bounds

In [2]:
# Or:

import operator
sorted(xs.items(), key=operator.itemgetter(1))
#[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

In [ ]:
#multi threading

class name(thread):
    def dis():
        print("hello")
class add(thread):
    def cal():
        print("hi")
        
ob1=name()

In [13]:
# Different ways to test multiple
# flags at once in Python
x, y, z = 0, 1, 0

if x == 1 or y == 1 or z == 1:
    print('passed')

if 1 in (x, y, z):
    print('passed')

# These only test for truthiness:
if x or y or z:
    print('passed')

if any((x, y, z)):
    print('passed')

passed
passed
passed
passed

In [16]:
# How to merge two dictionaries
# in Python 3.5+

x = {'a': 1, 'b': 2}
y = {'b': "jh", 'c': 4}

z = {**x, **y}

z
#{'c': 4, 'a': 1, 'b': 3}

# In Python 2.x you could
# use this:
z = dict(x, **y)
z
#{'a': 1, 'c': 4, 'b': 3}

# In these examples, Python merges dictionary keys
# in the order listed in the expression, overwriting 
# duplicates from left to right.
#
# See: https://www.youtube.com/watch?v=Duexw08KaC8

{'a': 1, 'b': 'jh', 'c': 4}

In [12]:
a=[2,3,4]
b=a
#a is b
c=list(a)
a==c
c is a
#type(c)
#type(a)

False

In [22]:
#Map, filter, lambda, reduce, class ,object, exception,constructor program, parallel execution
a=[2,3,4,5]
b=lambda x,y:x+y
b(2,3)

5

In [25]:
class my:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print(self):
        print(self.x+self.y)
ob=my(2,3)
ob.print()

5

In [12]:
class Myclass:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def config(self):
        print("abc"+self.a+self.b)
a=Myclass('2','5')
#type(a)
a.config()

abc25

In [18]:
import pandas as pd
df1=pd.read_excel("C:\\Users\\29265\\Desktop\\DA.xlsx",sheetname='Sheet1')
df2=pd.read_excel("C:\\Users\\29265\\Desktop\\DA.xlsx",sheetname='Sheet3')
df1.equals(df2)

False

In [16]:
df1[~df1['a'].isin(df2['a'])]

    a   b   c   d  t
4  34  43  23  21  1

In [19]:
df2[~df2['a'].isin(df1['a'])]

Empty DataFrame
Columns: [a, b, c, d, t]
Index: []

In [20]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [5]:
import pandas as pd
df=pd.read_excel("C:\\Users\\29265\\Desktop\\DA.xlsx",sheetname='Sheet1')
df.head(2)

    a   b   c   d  t
0  11  11  22  33  0
1  33  33  22  22  1

In [18]:
feature_cols = ['a', 'b', 'c','d']
X = df[feature_cols]
y = df.t

In [19]:
# split X and y into training and testing sets
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
# train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
# make class predictions for the testing set
y_pred_class = logreg.predict(X_test)
y_pred_class

array([1, 0], dtype=int64)

In [22]:
# calculate accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

1.0

In [29]:
y_pred_class_data = logreg.predict([33,66,44,490])
y_pred_class_data

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([0], dtype=int64)

# linear Reg.

In [30]:
import pandas as pd
df=pd.read_excel("C:\\Users\\29265\\Desktop\\DA.xlsx",sheetname='Sheet1')
#df.head(2)
feature_cols = ['a', 'b', 'c']
X = df[feature_cols]
y = df.d

In [32]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 100) 
import statsmodels.api as sm
import statsmodels.formula.api as sfa 
 
model=sm.OLS(y_train,x_train) 
model=sm.OLS(y_train,x_train) 
lm=model.fit()
lm.summary()

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:72: ValueWarning: omni_normtest is not valid with less than 8 observations; 4 samples were given.
  "samples were given." % int(n), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      d   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.975
Method:                 Least Squares   F-statistic:                     53.95
Date:                Fri, 04 Jan 2019   Prob (F-statistic):             0.0997
Time:                        18:34:11   Log-Likelihood:                -11.472
No. Observations:                   4   AIC:                             28.94
Df Residuals:                       1   BIC:                             27.10
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
a              0.2521      0.285      0.883      0.539      -3.375       3.879
b             -0.5947      0.407     -1.462      0.382      -5.764       4.574
c              1.8743      0.508      3.692      0.168      -4.577       8.326
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.731
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.478
Skew:                           0.550   Prob(JB):                        0.787
Kurtosis:                       1.713   Cond. No.                         11.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=CWTINTAPPSUP\SHAREPOINT;"
                      "Database=Test_Vikas_Demo;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()
cursor.execute('SELECT * FROM emp1')

for row in cursor:
    print('row = %r' % (row,))

row = (Decimal('29255'), 'Smith', Decimal('7772277721'))

In [21]:
import pandas as pd
import pyodbc

f=open('C:/Users/29265/Desktop/TableComp/Config.txt')
f.seek(0)
read=f.readlines()
read
prop=[]
for i in range(0,len(read)):
    z=read[i].split('=')
    z=z[1].replace('\n','')
    #print(z)
    prop.append(z)
print(prop)

['SQL Server Native Client 11.0', 'CWTINTAPPSUP\\SHAREPOINT', 'Test_Vikas_Demo', 'yes', 'emp', 'emp1']

# DataBase Table comparison

In [34]:
#PostgreSQL
import pandas as pd
import pyodbc

f=open('C:/Users/29265/Desktop/TableComp/Config.txt')
f.seek(0)
read=f.readlines()
read

prop=[]
for i in range(0,len(read)):
    z=read[i].split('=')
    z=z[1].replace('\n','')
    #print(z)
    prop.append(z)
#print(prop[0])

sql_conn = pyodbc.connect("Driver={"+prop[0]+"};"
                      "Server="+prop[1]+";"
                      "Database="+prop[2]+";"
                      "Trusted_Connection="+prop[3]+";") 
df1 = pd.read_sql_query('select * from emp',  sql_conn)
df2 = pd.read_sql_query('select * from emp1',  sql_conn)
df2

    emp_no       name      phone_no
0  29255.0      Smith  7.772278e+09
1  23432.0       Test  7.777223e+09
2  23435.0  Test_Demo  7.777223e+09
3  22233.0    test123  2.345468e+09

In [35]:
table1_col=list(df1.columns)
table2_col=list(df2.columns)
#table2_col=[]
#table2_col.append('emp_no')
insection=list(set(table1_col) - set(table2_col))
insection

[]

In [36]:
#columns validation below
ColumnList=[]
if len(insection) == 0:
    print('All Columns are matching')
    #dic_notmatch_col={'Not_Matched_Column':NotMatch_Column}
    NotMatch_Column=0
    ColumnList.append(NotMatch_Column)
else:
    
    NotMatch_Column=insection
   # dic_notmatch_col={'Not_Matched_Column':NotMatch_Column}
    ColumnList.append(NotMatch_Column)
    print(ColumnList)
df_ColumnList=pd.DataFrame(ColumnList,columns=['Not_Matched_Column'])
df_ColumnList

All Columns are matching

   Not_Matched_Column
0                   0

In [37]:
#total record validation
Data_Count=[]
#print(df1.shape[0])
#print(df2.shape[0])
if(df1.shape[0]==df2.shape[0]):
    print("All record are matched")
else:
    print("Count of missing Record: "+str(abs(df1.shape[0] - df2.shape[0])))
    #dic_Count={'Count of missing Record:'+str(abs(df1.shape[0] - df2.shape[0]))}
    Data_Count.append(str(abs(df1.shape[0] - df2.shape[0])))
df_Count=pd.DataFrame(Data_Count,columns=['Count of missing Record'])
df_Count
#need to do indexcing for Count of missing Record:
df_Count=df_Count.T
df_Count

Count of missing Record: 2

                         0
Count of missing Record  2

In [38]:
table1=df1.T
table2=df2.T

In [39]:
removeZero2=list(df2['emp_no'])
removeZero1=list(df1['emp_no'])
#actualValue=[]
#for i in range(0,len(removeZero)):
#    removeZeroValue=str(removeZero[i]).replace('.0','')
#    actualValue.append(removeZeroValue)
#actualValue

In [40]:
tableItems1=[]
for i in table1.columns:
    if list(table1[i])[0] not in removeZero2 :
        print("Yes, 'at' found in List : " )
        tableItems1.append(str(list(table1[i])[0]))
    #else:
        #print("No, 'at' found in List : nn" )
tableItems1
df_tableItems1=pd.DataFrame(tableItems1,columns=['List of missing Record'])
df_tableItems1

Empty DataFrame
Columns: [List of missing Record]
Index: []

In [41]:
#total record validation
Data_Count=[]
#print(df1.shape[0])
#print(df2.shape[0])
if(df1.shape[0]==df2.shape[0]):
    print("All record are matched")
else:
    print("Count of missing Record: "+str(abs(df1.shape[0] - df2.shape[0])))
    #dic_Count={'Count of missing Record:'+str(abs(df1.shape[0] - df2.shape[0]))}
    Data_Count.append(str(abs(df1.shape[0] - df2.shape[0])))
df_Count=pd.DataFrame(Data_Count,columns=['Count of missing Record'])
df_Count
#need to do indexcing for Count of missing Record:
#df_Count=df_Count.T
#df_Count

Count of missing Record: 2

  Count of missing Record
0                       2

In [42]:
tableItems2=[]
for i in table2.columns:
    if list(table2[i])[0] not in removeZero1 :
       # print("Yes, 'at' found in List : " )
        print("Record not found in table is: "+str(list(table2[i])[0]))
        tableItems2.append(str(list(table2[i])[0]))
    #else:
      #  print("Record found in table "+str(list(table2[i])[0]))
tableItems2
df_tableItems2=pd.DataFrame(tableItems2,columns=['List of missing Record'])
df_tableItems2

Record not found in table is: 23435.0
Record not found in table is: 22233.0

  List of missing Record
0                23435.0
1                22233.0

In [43]:
record=df_tableItems1
if len(tableItems1) == 0:
    record=df_tableItems2
#else:
   # record=df_tableItems2
record

  List of missing Record
0                23435.0
1                22233.0

In [44]:
#Report for Columns, Shape and row not matching in DB
#record, df_Count, df_ColumnList
writer = pd.ExcelWriter('C:\\Users\\29265\\Desktop\\TableComp\\DBTableValidation_report.xlsx', engine='xlsxwriter')

record.to_excel(writer, sheet_name='Report',startrow=0,index = False,startcol=0) 
'''
worksheet.set_column('A:K', 20)
worksheet.set_column('H:H', 20)
# Add a header format.
header_format = workbook.add_format({
    'align': 'center',
    'bold': True,
'font_color': 'dark blue',
'font_size':10,
    'text_wrap': False,
    'valign': 'top',
    'fg_color': '#ffcccc',
    'border': 1
    
})

# Write the column headers with the defined format.
for col_num, value in enumerate(record.columns.values):
    worksheet.write(0, col_num, value, header_format)

'''
df_Count.to_excel(writer, sheet_name='Report',startrow=0,index = False,startcol=2) 
df_ColumnList.to_excel(writer, sheet_name='Report',startrow=0,index = False,startcol=4) 
workbook  = writer.book
worksheet = writer.sheets['Report']
worksheet.set_column('A:K', 20)
worksheet.set_column('H:H', 20)
# Add a header format.
header_format = workbook.add_format({
    'align': 'center',
    'bold': True,
'font_color': 'dark blue',
'font_size':10,
    'text_wrap': False,
    'valign': 'top',
    'fg_color': '#ffcccc',
    'border': 1
    
})

# Write the column headers with the defined format.
for col_num, value in enumerate(record.columns.values):
    worksheet.write(0, col_num, value, header_format)

writer.save()

In [177]:
removeZero=list(df2['emp_no'])
actualValue=[]
for i in range(0,len(removeZero)):
    removeZeroValue=str(removeZero[i]).replace('.0','')
    actualValue.append(removeZeroValue)
actualValue

['29255', '23432', '23435']

In [39]:
for i in xrange(-1, -10, -1):
    print(i)

NameError: name 'xrange' is not defined

# Jenkins Analysis Report Prep.

In [75]:
import pandas as pd
df=pd.read_excel("C:\\Users\\29265\\Desktop\\BTC _SU.xlsx",sheetname='28th')
a=df.T
df1=pd.read_excel("C:\\Users\\29265\\Desktop\\BTC _SU.xlsx",sheetname='dummy')
b=df1.T

In [76]:
for i in a.columns:
    for j in b.columns:
           if list(a[i])[2]==list(b[j])[2]:
                b.loc['Owner',j]=list(a[i])[8]

In [77]:
b=b.T
writer = pd.ExcelWriter('C:\\Users\\29265\\Desktop\\out.xlsx', engine='xlsxwriter')

b.to_excel(writer, sheet_name='Report',startrow=0,index = False,startcol=0) 
writer.save()