In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pt
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
%matplotlib inline
df=pd.read_excel("C:\\Users\\29265\\Downloads\\Credit Card.xls")

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [15]:
df.columns
df.shape

(30000, 25)

In [10]:
y=df['default payment next month']
x=df.drop(['default payment next month'],axis=1)

In [3]:
def filterVariables(df):
    data = []
    for col in df.columns:
        if df[col].nunique()>3: #dtype == 'float64':
            level = 'continuous'
        elif df[col].nunique()<3: #dtype == 'int64':
            level = 'class'
       

        col_dict = {
            'varname': col,
            'datatype': df[col].dtype,
            'continuous_class': level
           
        }
        data.append(col_dict)
        

    meta = pd.DataFrame(data, columns=['varname', 'datatype','continuous_class'])
    meta.set_index('varname', inplace=True)
    return meta

In [4]:
def FillNullValue(dfnull):
    df_new=filterVariables(dfnull)
    df_new=df_new.T
    df_new
    for i in df_new.columns:
        for j in dfnull.columns:
            if i==j:
                if list(df_new[i])[1]=='continuous':
                    if dfnull[i].dtypes=='int64':

                        a=dfnull[i].median()
                        dfnull[i].fillna(a,inplace=True)
                    if dfnull[i].dtypes=='float64':
                        a=dfnull[i].median()
                        dfnull[i].fillna(a,inplace=True)
                    if dfnull[i].dtypes=='object':
                        a=dfnull[i].mode()
                        dfnull[i].fillna(a[0],inplace=True)
                else:
                    a=dfnull[i].mode()
                    dfnull[i].fillna(a[0],inplace=True)
    return dfnull

In [5]:
dfnull=FillNullValue(df)
dfnull.head(2)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1

In [8]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [ ]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100, max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3, max_features=None, max_leaf_nodes=None, min_samples_leaf=5,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=100, splitter='best')

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30)
from sklearn.tree import DecisionTreeClassifier
#by default it takes gini index
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)
predictions = dtree.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

             precision    recall  f1-score   support

          0       0.83      0.82      0.83      7012
          1       0.40      0.41      0.40      1988

avg / total       0.74      0.73      0.73      9000

[[5765 1247]
 [1168  820]]

In [12]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, predictions))

0.731666666667

In [13]:
y_pred_prob = logreg.predict_proba(X_test)

NameError: name 'logreg' is not defined