In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Downloads\\train.csv")
df.describe()

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [2]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0
20,21,5,2015-07-31,9515,682,1,1,0,1
21,22,5,2015-07-31,6566,633,1,1,0,0
22,23,5,2015-07-31,7273,560,1,1,0,1
23,24,5,2015-07-31,14190,1082,1,1,0,1
24,25,5,2015-07-31,14180,1586,1,1,0,1
25,26,5,2015-07-31,7818,611,1,1,0,1
26,27,5,2015-07-31,13213,1263,1,1,0,1
27,28,5,2015-07-31,7301,663,1,1,0,1
28,29,5,2015-07-31,9411,737,1,1,0,1
29,30,5,2015-07-31,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,a,1
1017180,1087,2,2013-01-01,0,0,0,0,a,1
1017181,1088,2,2013-01-01,0,0,0,0,a,1
1017182,1089,2,2013-01-01,0,0,0,0,a,1
1017183,1090,2,2013-01-01,0,0,0,0,a,1
1017184,1091,2,2013-01-01,0,0,0,0,a,1
1017185,1092,2,2013-01-01,0,0,0,0,a,1
1017186,1093,2,2013-01-01,0,0,0,0,a,1
1017187,1094,2,2013-01-01,0,0,0,0,a,1
1017188,1095,2,2013-01-01,0,0,0,0,a,1
1017189,1096,2,2013-01-01,0,0,0,0,a,1
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1
1017191,1098,2,2013-01-01,0,0,0,0,a,1
1017192,1099,2,2013-01-01,0,0,0,0,a,1
1017193,1100,2,2013-01-01,0,0,0,0,a,1
1017194,1101,2,2013-01-01,0,0,0,0,a,1
1017195,1102,2,2013-01-01,0,0,0,0,a,1
1017196,1103,2,2013-01-01,0,0,0,0,a,1
1017197,1104,2,2013-01-01,0,0,0,0,a,1
1017198,1105,2,2013-01-01,0,0,0,0,a,1
1017199,1106,2,2013-01-01,0,0,0,0,a,1
1017200,1107,2,2013-01-01,0,0,0,0,a,1
1017201,1108,2,2013-01-01,0,0,0,0,a,1
1017202,1109,2,2013-01-01,0,0,0,0,a,1
1017203,1110,2,2013-01-01,0,0,0,0,a,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [ ]:
df_norm = (df - df.mean()) / (df.max() - df.min())

In [ ]:
import pandas as pd
from sklearn import preprocessing

data = {'score': [234,24,14,27,-74,46,73,-18,59,160]}
df1 = pd.DataFrame(data)
df1

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df1)
df_normalized = pd.DataFrame(np_scaled)
df_normalized