In [1]:

#application_train
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Downloads\\train.csv")

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
pd.test()

running: pytest --skip-slow --skip-network C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas
============================= test session starts =============================
platform win32 -- Python 3.6.1, pytest-3.0.7, py-1.4.33, pluggy-0.4.0
rootdir: C:\Users\29265, inifile:
collected 10236 items / 2 skipped

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_algos.py ........................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_base.py .........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py ...................................................................................FFFFFF..FFFFFF................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_common.py ..............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_compat.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_config.py ....................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_downstream.py .s...ssss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_errors.py ..........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_expressions.py ...s..ss..s.........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_internals.py ..........s.....................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_join.py .........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_lib.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_multilevel.py ........................................................................................s.......................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_nanops.py .......................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_panel.py ...........................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_panel4d.py ..........................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_panelnd.py ....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_resample.py ................................................................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_sorting.py s...s.
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_strings.py .............................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_take.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_window.py .........................................s...........................s............................................sss..........................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\api\test_api.py ................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\api\test_types.py .......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\computation\test_compat.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\computation\test_eval.py s.s..ssss............s.s..ssss............s.s..ssss............s.s..ssss................................................................ssss............ssss.................................................................................................................s.......s.......s.......s..............................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_cast.py .....................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_common.py ..................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_concat.py ....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_dtypes.py .........................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_generic.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_inference.py .................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_io.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\dtypes\test_missing.py ...............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_alter_axes.py .................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_analytics.py ....................................................................................................................................................................................................................................................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_api.py ...............................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_apply.py ...............................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_asof.py ....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_axis_select_reindex.py ..................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_block_internals.py ..........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_combine_concat.py ...........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_constructors.py ................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_convert_to.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_dtypes.py .............................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_indexing.py .................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_join.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_missing.py .....................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_mutate_columns.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_nonunique_indexes.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_operators.py .........s........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_period.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_quantile.py ....s.......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_query_eval.py ........ss..ss..ss..................................s..s......sssss...............................s..s.....sssss.........................ss..ss..........ss..............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_rank.py .......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_replace.py .............................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_repr_info.py ..s..s.................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_reshape.py .........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_sorting.py ..................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_subclass.py ..........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_timeseries.py ............................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_to_csv.py .......ss...........s...................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\frame\test_validate.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_aggregate.py ......................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_bin_groupby.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_categorical.py ................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_filters.py ........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_groupby.py ..........................................................................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_nth.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_timegrouper.py ..................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_transform.py .......................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_value_counts.py ssss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\groupby\test_whitelist.py ..............................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_base.py .....................................................................................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_category.py .......................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_frozen.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_interval.py ..........................................................xxx.................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_multi.py ........................................................................................s..........................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_numeric.py .........................................................................................................................................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\test_range.py .................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_astype.py ...............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_construction.py ......................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_date_range.py ............................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_datetime.py ............................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_datetimelike.py ....................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_formats.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_indexing.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_misc.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_missing.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_ops.py .........................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_partial_slicing.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_setops.py ....................s...
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\datetimes\test_tools.py .....s..s....s..........................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_asfreq.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_construction.py .............................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_formats.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_indexing.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_ops.py .......................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_partial_slicing.py .......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_period.py .............................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_setops.py .........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\period\test_tools.py ....................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_astype.py .....................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_construction.py ....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_indexing.py ...
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_ops.py ...............................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_partial_slicing.py ....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_setops.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_timedelta.py .............................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_timedelta_range.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\indexes\timedeltas\test_tools.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_clipboard.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_common.py ..........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_excel.py x..
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_html.py ..sss.....................sssssssssss.ssss.....ss...............s....sss.

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_packers.py .....................................s.s.ss.s..........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_pickle.py ..........................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_pytables.py ....................s.................................................................................x.......s....s........................................s..
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_s3.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_sql.py .................................................................................................s....ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss................s....................................s................s.................s...............ssssssssss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\test_stata.py ..........................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_css.py ....xxx...xxxx............xxxxxxx...........................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_eng_formatting.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_format.py .....................................s..................................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_printing.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_style.py ........................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_to_csv.py .........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_to_excel.py ...............................................xX........................................x
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_to_html.py ..............sss..............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\formats\test_to_latex.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\json\test_json_table_schema.py ...................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\json\test_normalize.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\json\test_pandas.py ..............................ss..............s.
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_buffer.py ..
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_case.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_except.py ...
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_extension.py ...
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_format.py ..........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_limits.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_newspec.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_obj.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_pack.py ................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_read_size.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_seq.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_sequnpack.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_subtype.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_unpack.py ...
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\msgpack\test_unpack_raw.py ..
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\parser\test_network.py ................ssssssssss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\parser\test_parsers.py ..........................................................ss.................................s............................................................................................s....................................................s...........s...................................................ss.................................s............................................................................................s....................................................s............................................ss.................................s............................................................................................s...............................................................s.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\parser\test_read_fwf.py ......................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\parser\test_textreader.py .........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\parser\test_unsupported.py ....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\sas\test_sas.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\sas\test_sas7bdat.py .........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\io\sas\test_xport.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_boxplot_method.py sssss.sssss.
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_converter.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_datetimelike.py s.s..s.s.ssssss.ssss..s..s.sss.ss.ssssssss.s.s.ss..sssssssss.sssssss.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_deprecated.py ssss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_frame.py s....sssss..sssss..s.....ssssssssss.ssssssssssssssssss.sssssssssss....s.ssssss.ssss...ss.sss.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_groupby.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_hist_method.py sssssssssssssssss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_misc.py ssss.ss.ss
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\plotting\test_series.py ss......ss..s.sssssssssssssssssss..ss.sss.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\scalar\test_interval.py ..........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\scalar\test_nat.py .................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\scalar\test_period.py ...........................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\scalar\test_period_asfreq.py ..............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\scalar\test_timedelta.py ........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\scalar\test_timestamp.py .............................................................s...............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_alter_axes.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_analytics.py ...XX......................s..................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_api.py ..........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_apply.py ..............................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_asof.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_combine_concat.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_constructors.py ................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_datetime_values.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_dtypes.py ....................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_indexing.py ..........................................................................................................................s.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_internals.py .......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_io.py ...............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_missing.py .................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_operators.py .......................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_period.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_quantile.py ....s.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_rank.py ...s......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_replace.py .............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_repr.py ...........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_sorting.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_subclass.py .....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_timeseries.py .........................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\series\test_validate.py .
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_arithmetics.py ...........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_array.py ..........................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_combine_concat.py ............
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_format.py ......
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_frame.py .........................................................................................................................................................................................................................................................................................................................................................................................................................sssssssssssssssssssss.....
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_groupby.py ..
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_indexing.py ................................................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_libsparse.py ..s.......................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_list.py ........
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_pivot.py ..
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\sparse\test_series.py ........................................s...............................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\tools\test_numeric.py ...................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\tseries\test_frequencies.py ....................................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\tseries\test_holiday.py ..........................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\tseries\test_offsets.py ....................................................................................................................................................................................s...................................................................s..s........s..s...............................................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\tseries\test_timezones.py ......................................................................................................................s............................s...
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\util\test_hashing.py .....................
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\util\test_testing.py .............ss..................s
AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\util\test_util.py ........................s.sss

================================== FAILURES ===================================
____________ TestCategoricalAsBlock.test_categorical_repr_datetime ____________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C791F98>

    def test_categorical_repr_datetime(self):
        idx = pd.date_range('2011-01-01 09:00', freq='H', periods=5)
        c = pd.Categorical(idx)

        # TODO(wesm): exceeding 80 characters in the console is not good
        # behavior
        exp = (
            "[2011-01-01 09:00:00, 2011-01-01 10:00:00, 2011-01-01 11:00:00, "
            "2011-01-01 12:00:00, 2011-01-01 13:00:00]\n"
            "Categories (5, datetime64[ns]): [2011-01-01 09:00:00, "
            "2011-01-01 10:00:00, 2011-01-01 11:00:00,\n"
            "                                 2011-01-01 12:00:00, "
            "2011-01-01 13:00:00]""")
>       assert repr(c) == exp
E       AssertionError: assert '[2011-01-01 ...-01 13:00:00]' == '[2011-01-01 0...-01 13:00:00]'
E         Skipping 191 identical leading characters in diff, use -v to show
E         -  11:00:00, 2011-01-01 12:00:00, 2011-01-01 13:00:00]
E         +  11:00:00,
E         +                                  2011-01-01 12:00:00, 2011-01-01 13:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2167: AssertionError
________ TestCategoricalAsBlock.test_categorical_repr_datetime_ordered ________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C7714E0>

    def test_categorical_repr_datetime_ordered(self):
        idx = pd.date_range('2011-01-01 09:00', freq='H', periods=5)
        c = pd.Categorical(idx, ordered=True)
        exp = """[2011-01-01 09:00:00, 2011-01-01 10:00:00, 2011-01-01 11:00:00, 2011-01-01 12:00:00, 2011-01-01 13:00:00]
    Categories (5, datetime64[ns]): [2011-01-01 09:00:00 < 2011-01-01 10:00:00 < 2011-01-01 11:00:00 <
                                     2011-01-01 12:00:00 < 2011-01-01 13:00:00]"""  # noqa

>       assert repr(c) == exp
E       AssertionError: assert '[2011-01-01 ...-01 13:00:00]' == '[2011-01-01 0...-01 13:00:00]'
E         Skipping 194 identical leading characters in diff, use -v to show
E         - 11:00:00 < 2011-01-01 12:00:00 < 2011-01-01 13:00:00]
E         + 11:00:00 <
E         +                                  2011-01-01 12:00:00 < 2011-01-01 13:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2221: AssertionError
_____________ TestCategoricalAsBlock.test_categorical_repr_period _____________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x0000029402998128>

    def test_categorical_repr_period(self):

        idx = pd.period_range('2011-01-01 09:00', freq='H', periods=5)
        c = pd.Categorical(idx)
        exp = """[2011-01-01 09:00, 2011-01-01 10:00, 2011-01-01 11:00, 2011-01-01 12:00, 2011-01-01 13:00]
    Categories (5, period[H]): [2011-01-01 09:00, 2011-01-01 10:00, 2011-01-01 11:00, 2011-01-01 12:00,
                                2011-01-01 13:00]"""  # noqa

>       assert repr(c) == exp
E       AssertionError: assert '[2011-01-01 ...-01-01 13:00]' == '[2011-01-01 0...-01-01 13:00]'
E         Skipping 180 identical leading characters in diff, use -v to show
E         - -01 12:00, 2011-01-01 13:00]
E         + -01 12:00,
E         +                             2011-01-01 13:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2255: AssertionError
_________ TestCategoricalAsBlock.test_categorical_repr_period_ordered _________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940CC93E10>

    def test_categorical_repr_period_ordered(self):
        idx = pd.period_range('2011-01-01 09:00', freq='H', periods=5)
        c = pd.Categorical(idx, ordered=True)
        exp = """[2011-01-01 09:00, 2011-01-01 10:00, 2011-01-01 11:00, 2011-01-01 12:00, 2011-01-01 13:00]
    Categories (5, period[H]): [2011-01-01 09:00 < 2011-01-01 10:00 < 2011-01-01 11:00 < 2011-01-01 12:00 <
                                2011-01-01 13:00]"""  # noqa

>       assert repr(c) == exp
E       AssertionError: assert '[2011-01-01 ...-01-01 13:00]' == '[2011-01-01 0...-01-01 13:00]'
E         Skipping 184 identical leading characters in diff, use -v to show
E         - 01 12:00 < 2011-01-01 13:00]
E         + 01 12:00 <
E         +                             2011-01-01 13:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2284: AssertionError
___________ TestCategoricalAsBlock.test_categorical_repr_timedelta ____________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C2B36D8>

    def test_categorical_repr_timedelta(self):
        idx = pd.timedelta_range('1 days', periods=5)
        c = pd.Categorical(idx)
        exp = """[1 days, 2 days, 3 days, 4 days, 5 days]
    Categories (5, timedelta64[ns]): [1 days, 2 days, 3 days, 4 days, 5 days]"""

        assert repr(c) == exp

        c = pd.Categorical(idx.append(idx), categories=idx)
        exp = """[1 days, 2 days, 3 days, 4 days, 5 days, 1 days, 2 days, 3 days, 4 days, 5 days]
    Categories (5, timedelta64[ns]): [1 days, 2 days, 3 days, 4 days, 5 days]"""  # noqa

        assert repr(c) == exp

        idx = pd.timedelta_range('1 hours', periods=20)
        c = pd.Categorical(idx)
        exp = """[0 days 01:00:00, 1 days 01:00:00, 2 days 01:00:00, 3 days 01:00:00, 4 days 01:00:00, ..., 15 days 01:00:00, 16 days 01:00:00, 17 days 01:00:00, 18 days 01:00:00, 19 days 01:00:00]
    Length: 20
    Categories (20, timedelta64[ns]): [0 days 01:00:00, 1 days 01:00:00, 2 days 01:00:00,
                                       3 days 01:00:00, ..., 16 days 01:00:00, 17 days 01:00:00,
                                       18 days 01:00:00, 19 days 01:00:00]"""  # noqa

>       assert repr(c) == exp
E       AssertionError: assert '[0 days 01:0...ays 01:00:00]' == '[0 days 01:00...ays 01:00:00]'
E         Skipping 267 identical leading characters in diff, use -v to show
E         -  01:00:00, 3 days 01:00:00, ..., 16 days 01:00:00, 17 days 01:00:00, 18 days 01:00:00, 19 days 01:00:00]
E         +  01:00:00,
E         +                                    3 days 01:00:00, ..., 16 days 01:00:00, 17 days 01:00:00,
E         +                                    18 days 01:00:00, 19 days 01:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2328: AssertionError
_______ TestCategoricalAsBlock.test_categorical_repr_timedelta_ordered ________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C771D30>

    def test_categorical_repr_timedelta_ordered(self):
        idx = pd.timedelta_range('1 days', periods=5)
        c = pd.Categorical(idx, ordered=True)
        exp = """[1 days, 2 days, 3 days, 4 days, 5 days]
    Categories (5, timedelta64[ns]): [1 days < 2 days < 3 days < 4 days < 5 days]"""  # noqa

        assert repr(c) == exp

        c = pd.Categorical(idx.append(idx), categories=idx, ordered=True)
        exp = """[1 days, 2 days, 3 days, 4 days, 5 days, 1 days, 2 days, 3 days, 4 days, 5 days]
    Categories (5, timedelta64[ns]): [1 days < 2 days < 3 days < 4 days < 5 days]"""  # noqa

        assert repr(c) == exp

        idx = pd.timedelta_range('1 hours', periods=20)
        c = pd.Categorical(idx, ordered=True)
        exp = """[0 days 01:00:00, 1 days 01:00:00, 2 days 01:00:00, 3 days 01:00:00, 4 days 01:00:00, ..., 15 days 01:00:00, 16 days 01:00:00, 17 days 01:00:00, 18 days 01:00:00, 19 days 01:00:00]
    Length: 20
    Categories (20, timedelta64[ns]): [0 days 01:00:00 < 1 days 01:00:00 < 2 days 01:00:00 <
                                       3 days 01:00:00 ... 16 days 01:00:00 < 17 days 01:00:00 <
                                       18 days 01:00:00 < 19 days 01:00:00]"""  # noqa

>       assert repr(c) == exp
E       AssertionError: assert '[0 days 01:0...ays 01:00:00]' == '[0 days 01:00...ays 01:00:00]'
E         Skipping 270 identical leading characters in diff, use -v to show
E         - 01:00:00 < 3 days 01:00:00 ... 16 days 01:00:00 < 17 days 01:00:00 < 18 days 01:00:00 < 19 days 01:00:00]
E         + 01:00:00 <
E         +                                    3 days 01:00:00 ... 16 days 01:00:00 < 17 days 01:00:00 <
E         +                                    18 days 01:00:00 < 19 days 01:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2361: AssertionError
________ TestCategoricalAsBlock.test_categorical_series_repr_datetime _________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C28E320>

    def test_categorical_series_repr_datetime(self):
        idx = pd.date_range('2011-01-01 09:00', freq='H', periods=5)
        s = pd.Series(pd.Categorical(idx))
        exp = """0   2011-01-01 09:00:00
    1   2011-01-01 10:00:00
    2   2011-01-01 11:00:00
    3   2011-01-01 12:00:00
    4   2011-01-01 13:00:00
    dtype: category
    Categories (5, datetime64[ns]): [2011-01-01 09:00:00, 2011-01-01 10:00:00, 2011-01-01 11:00:00,
                                     2011-01-01 12:00:00, 2011-01-01 13:00:00]"""  # noqa

>       assert repr(s) == exp
E       AssertionError: assert '0   2011-01-...-01 13:00:00]' == '0   2011-01-0...-01 13:00:00]'
E         Skipping 221 identical leading characters in diff, use -v to show
E         -  11:00:00, 2011-01-01 12:00:00, 2011-01-01 13:00:00]
E         +  11:00:00,
E         +                                  2011-01-01 12:00:00, 2011-01-01 13:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2436: AssertionError
____ TestCategoricalAsBlock.test_categorical_series_repr_datetime_ordered _____

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C7ADEF0>

    def test_categorical_series_repr_datetime_ordered(self):
        idx = pd.date_range('2011-01-01 09:00', freq='H', periods=5)
        s = pd.Series(pd.Categorical(idx, ordered=True))
        exp = """0   2011-01-01 09:00:00
    1   2011-01-01 10:00:00
    2   2011-01-01 11:00:00
    3   2011-01-01 12:00:00
    4   2011-01-01 13:00:00
    dtype: category
    Categories (5, datetime64[ns]): [2011-01-01 09:00:00 < 2011-01-01 10:00:00 < 2011-01-01 11:00:00 <
                                     2011-01-01 12:00:00 < 2011-01-01 13:00:00]"""  # noqa

>       assert repr(s) == exp
E       AssertionError: assert '0   2011-01-...-01 13:00:00]' == '0   2011-01-0...-01 13:00:00]'
E         Skipping 224 identical leading characters in diff, use -v to show
E         - 11:00:00 < 2011-01-01 12:00:00 < 2011-01-01 13:00:00]
E         + 11:00:00 <
E         +                                  2011-01-01 12:00:00 < 2011-01-01 13:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2465: AssertionError
_________ TestCategoricalAsBlock.test_categorical_series_repr_period __________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C7AD198>

    def test_categorical_series_repr_period(self):
        idx = pd.period_range('2011-01-01 09:00', freq='H', periods=5)
        s = pd.Series(pd.Categorical(idx))
        exp = """0   2011-01-01 09:00
    1   2011-01-01 10:00
    2   2011-01-01 11:00
    3   2011-01-01 12:00
    4   2011-01-01 13:00
    dtype: category
    Categories (5, period[H]): [2011-01-01 09:00, 2011-01-01 10:00, 2011-01-01 11:00, 2011-01-01 12:00,
                                2011-01-01 13:00]"""  # noqa

>       assert repr(s) == exp
E       AssertionError: assert '0   2011-01-...-01-01 13:00]' == '0   2011-01-0...-01-01 13:00]'
E         Skipping 210 identical leading characters in diff, use -v to show
E         - -01 12:00, 2011-01-01 13:00]
E         + -01 12:00,
E         +                             2011-01-01 13:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2494: AssertionError
_____ TestCategoricalAsBlock.test_categorical_series_repr_period_ordered ______

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C791198>

    def test_categorical_series_repr_period_ordered(self):
        idx = pd.period_range('2011-01-01 09:00', freq='H', periods=5)
        s = pd.Series(pd.Categorical(idx, ordered=True))
        exp = """0   2011-01-01 09:00
    1   2011-01-01 10:00
    2   2011-01-01 11:00
    3   2011-01-01 12:00
    4   2011-01-01 13:00
    dtype: category
    Categories (5, period[H]): [2011-01-01 09:00 < 2011-01-01 10:00 < 2011-01-01 11:00 < 2011-01-01 12:00 <
                                2011-01-01 13:00]"""  # noqa

>       assert repr(s) == exp
E       AssertionError: assert '0   2011-01-...-01-01 13:00]' == '0   2011-01-0...-01-01 13:00]'
E         Skipping 214 identical leading characters in diff, use -v to show
E         - 01 12:00 < 2011-01-01 13:00]
E         + 01 12:00 <
E         +                             2011-01-01 13:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2520: AssertionError
________ TestCategoricalAsBlock.test_categorical_series_repr_timedelta ________

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C791F60>

    def test_categorical_series_repr_timedelta(self):
        idx = pd.timedelta_range('1 days', periods=5)
        s = pd.Series(pd.Categorical(idx))
        exp = """0   1 days
    1   2 days
    2   3 days
    3   4 days
    4   5 days
    dtype: category
    Categories (5, timedelta64[ns]): [1 days, 2 days, 3 days, 4 days, 5 days]"""

        assert repr(s) == exp

        idx = pd.timedelta_range('1 hours', periods=10)
        s = pd.Series(pd.Categorical(idx))
        exp = """0   0 days 01:00:00
    1   1 days 01:00:00
    2   2 days 01:00:00
    3   3 days 01:00:00
    4   4 days 01:00:00
    5   5 days 01:00:00
    6   6 days 01:00:00
    7   7 days 01:00:00
    8   8 days 01:00:00
    9   9 days 01:00:00
    dtype: category
    Categories (10, timedelta64[ns]): [0 days 01:00:00, 1 days 01:00:00, 2 days 01:00:00,
                                       3 days 01:00:00, ..., 6 days 01:00:00, 7 days 01:00:00,
                                       8 days 01:00:00, 9 days 01:00:00]"""  # noqa

>       assert repr(s) == exp
E       AssertionError: assert '0   0 days 0...ays 01:00:00]' == '0   0 days 01...ays 01:00:00]'
E         Skipping 291 identical leading characters in diff, use -v to show
E         -  01:00:00, 3 days 01:00:00, ..., 6 days 01:00:00, 7 days 01:00:00, 8 days 01:00:00, 9 days 01:00:00]
E         +  01:00:00,
E         +                                    3 days 01:00:00, ..., 6 days 01:00:00, 7 days 01:00:00,
E         +                                    8 days 01:00:00, 9 days 01:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2564: AssertionError
____ TestCategoricalAsBlock.test_categorical_series_repr_timedelta_ordered ____

self = <pandas.tests.test_categorical.TestCategoricalAsBlock object at 0x000002940C5F5A58>

    def test_categorical_series_repr_timedelta_ordered(self):
        idx = pd.timedelta_range('1 days', periods=5)
        s = pd.Series(pd.Categorical(idx, ordered=True))
        exp = """0   1 days
    1   2 days
    2   3 days
    3   4 days
    4   5 days
    dtype: category
    Categories (5, timedelta64[ns]): [1 days < 2 days < 3 days < 4 days < 5 days]"""  # noqa

        assert repr(s) == exp

        idx = pd.timedelta_range('1 hours', periods=10)
        s = pd.Series(pd.Categorical(idx, ordered=True))
        exp = """0   0 days 01:00:00
    1   1 days 01:00:00
    2   2 days 01:00:00
    3   3 days 01:00:00
    4   4 days 01:00:00
    5   5 days 01:00:00
    6   6 days 01:00:00
    7   7 days 01:00:00
    8   8 days 01:00:00
    9   9 days 01:00:00
    dtype: category
    Categories (10, timedelta64[ns]): [0 days 01:00:00 < 1 days 01:00:00 < 2 days 01:00:00 <
                                       3 days 01:00:00 ... 6 days 01:00:00 < 7 days 01:00:00 <
                                       8 days 01:00:00 < 9 days 01:00:00]"""  # noqa

>       assert repr(s) == exp
E       AssertionError: assert '0   0 days 0...ays 01:00:00]' == '0   0 days 01...ays 01:00:00]'
E         Skipping 294 identical leading characters in diff, use -v to show
E         - 01:00:00 < 3 days 01:00:00 ... 6 days 01:00:00 < 7 days 01:00:00 < 8 days 01:00:00 < 9 days 01:00:00]
E         + 01:00:00 <
E         +                                    3 days 01:00:00 ... 6 days 01:00:00 < 7 days 01:00:00 <
E         +                                    8 days 01:00:00 < 9 days 01:00:00]

AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\tests\test_categorical.py:2596: AssertionError
 12 failed, 9649 passed, 553 skipped, 21 xfailed, 3 xpassed in 1093.20 seconds

SystemExit: 1

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [10]:
#only try with string kind of data type
df['new_merge']=df.NAME_CONTRACT_TYPE+','+df.CODE_GENDER
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,new_merge
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,"Cash loans,M"
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"Cash loans,F"
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"Revolving loans,M"
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,"Cash loans,F"
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"Cash loans,M"

In [12]:
df.describe(include=['object'])

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,new_merge
count,307511,307511,307511,307511,306219,307511,307511,307511,307511,211120,307511,307511,97216,153214,151170,161756,307511
unique,2,3,2,2,7,8,5,6,6,18,7,58,4,3,7,2,5
top,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No,"Cash loans,F"
freq,278232,202448,202924,213312,248526,158774,218391,196432,272868,55186,53901,67992,73830,150503,66040,159428,182800

In [3]:
df.rename(columns={'CODE_GENDER':'Gender'},inplace=True)
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'Gender', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [14]:
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'Gender', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'new_merge'],
      dtype='object', length=123)

In [4]:
#df.drop('Gender',axis=1,inplace=True)
df=df.sample(1000)

In [5]:
df.drop('Gender',axis=1,inplace=True)

In [22]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,new_merge
220865,355857,0,Cash loans,Y,Y,0,225000.0,1065681.0,45279.0,904500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,"Cash loans,F"
30830,135787,0,Cash loans,N,Y,0,450000.0,677664.0,24471.0,585000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,"Cash loans,M"
139505,261751,0,Cash loans,N,Y,0,135000.0,497520.0,33376.5,450000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,"Cash loans,F"
194690,325746,0,Revolving loans,Y,Y,0,135000.0,135000.0,6750.0,135000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,"Revolving loans,F"
148988,272738,0,Cash loans,N,Y,2,112500.0,350860.5,19161.0,283500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,"Cash loans,F"

In [6]:
df.AMT_INCOME_TOTAL.sort_values(ascending=False).head()

204039    900000.0
297454    675000.0
188022    675000.0
86692     675000.0
104395    675000.0
Name: AMT_INCOME_TOTAL, dtype: float64

In [7]:
a=[]
for i in df.CNT_CHILDREN:
    if(i==0):
        a.append(i)
    else:
        a.append(100)
        
df['append_xyz']=a
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,append_xyz
301970,449844,0,Cash loans,Y,Y,0,270000.0,937287.0,57339.0,868500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
53611,162098,1,Revolving loans,N,Y,0,49500.0,157500.0,7875.0,157500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
218038,352615,0,Cash loans,Y,Y,2,315000.0,1436850.0,46480.5,1125000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,9.0,100
120926,240207,0,Cash loans,N,N,0,90000.0,450000.0,16164.0,450000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
276385,420261,0,Cash loans,Y,N,0,270000.0,675000.0,36616.5,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [9]:
print(True or False)

True

In [12]:
df[(df.TARGET==0) & (df.CNT_CHILDREN==0)]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,append_xyz
301970,449844,0,Cash loans,Y,Y,0,270000.0,937287.0,57339.0,868500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
120926,240207,0,Cash loans,N,N,0,90000.0,450000.0,16164.0,450000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,0
276385,420261,0,Cash loans,Y,N,0,270000.0,675000.0,36616.5,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
303300,451404,0,Revolving loans,N,Y,0,112500.0,202500.0,10125.0,202500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
220791,355772,0,Cash loans,Y,Y,0,405000.0,900000.0,32017.5,900000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
52604,160921,0,Cash loans,N,N,0,202500.0,904500.0,35869.5,904500.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0
139316,261537,0,Cash loans,N,N,0,112500.0,454500.0,43150.5,454500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
127918,248360,0,Cash loans,N,Y,0,53100.0,991944.0,29133.0,828000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
20162,123519,0,Cash loans,N,Y,0,135000.0,1002870.0,42619.5,922500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
256905,397298,0,Revolving loans,N,Y,0,157500.0,450000.0,22500.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
286303,431586,0,Cash loans,Y,Y,0,112500.0,533668.5,23638.5,477000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0
237508,375106,0,Cash loans,N,Y,0,135000.0,225000.0,13725.0,225000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0
287257,432743,0,Cash loans,N,Y,0,144000.0,714915.0,36630.0,639000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
6707,107827,0,Cash loans,Y,Y,0,112500.0,225000.0,14508.0,225000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0
65950,176477,0,Cash loans,Y,Y,0,306000.0,298512.0,30717.0,270000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
283242,428037,0,Revolving loans,N,Y,0,202500.0,360000.0,18000.0,360000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0
220677,355643,0,Cash loans,N,N,0,108000.0,247275.0,17208.0,225000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
214556,348620,0,Cash loans,N,N,0,171000.0,481495.5,32436.0,454500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
153038,277380,0,Cash loans,Y,Y,0,180000.0,1575000.0,43443.0,1575000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0
217957,352524,0,Cash loans,N,N,0,270000.0,900000.0,33484.5,900000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0
130095,250885,0,Revolving loans,N,Y,0,90000.0,270000.0,13500.0,270000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
165237,291548,0,Cash loans,N,N,0,45000.0,225000.0,11619.0,225000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
277139,421159,0,Cash loans,Y,Y,0,112500.0,135000.0,14175.0,135000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
203415,335823,0,Revolving loans,N,Y,0,90000.0,270000.0,13500.0,270000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
298916,446288,0,Cash loans,N,Y,0,134100.0,263686.5,14854.5,238500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
177171,305312,0,Cash loans,N,Y,0,112500.0,180000.0,13041.0,180000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
205385,338071,0,Cash loans,Y,Y,0,405000.0,601470.0,30708.0,450000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0
114551,232831,0,Cash loans,N,N,0,225000.0,1125000.0,47664.0,1125000.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0
4932,105773,0,Cash loans,N,N,0,144000.0,364896.0,19926.0,315000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0
262375,403737,0,Cash loans,Y,Y,0,135000.0,113760.0,7533.0,90000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72495,184069,0,Cash loans,N,Y,0,90000.0,1078200.0,31653.0,900000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
224719,360282,0,Cash loans,N,Y,0,76500.0,495000.0,25402.5,495000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0
173540,301108,0,Cash loans,N,Y,0,180000.0,808650.0,23773.5,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
73874,185677,0,Cash loans,Y,N,0,112500.0,808650.0,26086.5,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
226844,362758,0,Cash loans,N,N,0,103500.0,765000.0,22495.5,765000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0
164860,291111,0,Cash loans,Y,Y,0,103500.0,601470.0,28935.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0
78959,191531,0,Revolving loans,Y,Y,0,112500.0,180000.0,9000.0,180000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
223153,358470,0,Revolving loans,Y,Y,0,135000.0,135000.0,6750.0,135000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
286066,431310,0,Revolving loans,N,Y,0,157500.0,450000.0,22500.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,0
245180,383760,0,Cash loans,N,Y,0,202500.0,1350000.0,37255.5,1350000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
187252,317072,0,Revolving loans,N,Y,0,130500.0,270000.0,13500.0,270000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
165153,291448,0,Cash loans,Y,N,0,180000.0,323172.0,11736.0,211500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
35515,141136,0,Cash loans,N,Y,0,112500.0,286704.0,14769.0,247500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0
15650,118258,0,Cash loans,N,Y,0,135000.0,427500.0,20920.5,427500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0
38040,144053,0,Cash loans,N,Y,0,112500.0,247500.0,14337.0,247500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
214035,348019,0,Cash loans,Y,Y,0,202500.0,343800.0,16852.5,225000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
89051,203396,0,Cash loans,N,Y,0,112500.0,284400.0,16456.5,225000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
154292,278822,0,Cash loans,Y,Y,0,211500.0,729567.0,27166.5,589500.0,...,0,0,0,0.0,0.0,0.0,3.0,0.0,6.0,0
174388,302092,0,Cash loans,N,Y,0,225000.0,1125000.0,33025.5,1125000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
146041,269335,0,Cash loans,N,Y,0,81000.0,276277.5,13419.0,238500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
66954,177635,0,Cash loans,Y,N,0,90000.0,468121.5,17959.5,355500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
50781,158805,0,Cash loans,N,N,0,81000.0,276277.5,19777.5,238500.0,...,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0
17100,119946,0,Cash loans,Y,N,0,90000.0,227520.0,15331.5,180000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
86784,200726,0,Cash loans,N,Y,0,112500.0,942300.0,30528.0,675000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
286596,431938,0,Cash loans,Y,Y,0,157500.0,343800.0,13090.5,225000.0,...,0,0,0,0.0,0.0,0.0,2.0,1.0,4.0,0
107237,224419,0,Cash loans,N,Y,0,306000.0,769500.0,27391.5,769500.0,...,0,0,0,0.0,0.0,0.0,2.0,1.0,8.0,0
240484,378514,0,Cash loans,N,Y,0,405000.0,1642032.0,57204.0,1417500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0,0
252956,392702,0,Cash loans,N,Y,0,135000.0,354519.0,27562.5,328500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0,0
262226,403541,0,Cash loans,Y,Y,0,81000.0,592560.0,22698.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
197997,329562,0,Cash loans,N,Y,0,90000.0,206271.0,24480.0,193500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
#Printing what precentage of values are null values
# to count the number of null values : df.isnull().sum()
# count the number of rows : df.isnull().count()

total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)

missing_application_train_data=pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

missing_application_train_data.head(20)




def make_meta_dataframe(df):
    data = []
    for col in df.columns:
        if df[col].dtype == 'float64':
            level = 'interval'
        elif df[col].dtype == 'int64':
            level = 'ordinal'
        elif df[col].dtype == 'object':
            level = 'categorical'

        col_dict = {
            'varname': col,
            'level': level,
            'dtype': df[col].dtype,
            'response_rate': 100 * df[col].notnull().sum() / df.shape[0]
        }
        data.append(col_dict)

    meta = pd.DataFrame(data, columns=['varname', 'level', 'dtype', 'response_rate'])
    meta.set_index('varname', inplace=True)
    return meta

In [15]:
df.isna().sum()

SK_ID_CURR                      0
TARGET                          0
NAME_CONTRACT_TYPE              0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
CNT_CHILDREN                    0
AMT_INCOME_TOTAL                0
AMT_CREDIT                      0
AMT_ANNUITY                     0
AMT_GOODS_PRICE                 1
NAME_TYPE_SUITE                 1
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
REGION_POPULATION_RELATIVE      0
DAYS_BIRTH                      0
DAYS_EMPLOYED                   0
DAYS_REGISTRATION               0
DAYS_ID_PUBLISH                 0
OWN_CAR_AGE                   660
FLAG_MOBIL                      0
FLAG_EMP_PHONE                  0
FLAG_WORK_PHONE                 0
FLAG_CONT_MOBILE                0
FLAG_PHONE                      0
FLAG_EMAIL                      0
OCCUPATION_TYPE               325
CNT_FAM_MEMBERS                 0
REGION_RATING_CLIENT            0
                             ...
OBS_60_CNT_SOCIAL_CIRCLE        4
DEF_60_CNT_SOCIAL_CIRCLE        4
DAYS_LAST_PHONE_CHANGE          0
FLAG_DOCUMENT_2                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_9                 0
FLAG_DOCUMENT_10                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_12                0
FLAG_DOCUMENT_13                0
FLAG_DOCUMENT_14                0
FLAG_DOCUMENT_15                0
FLAG_DOCUMENT_16                0
FLAG_DOCUMENT_17                0
FLAG_DOCUMENT_18                0
FLAG_DOCUMENT_19                0
FLAG_DOCUMENT_20                0
FLAG_DOCUMENT_21                0
AMT_REQ_CREDIT_BUREAU_HOUR    117
AMT_REQ_CREDIT_BUREAU_DAY     117
AMT_REQ_CREDIT_BUREAU_WEEK    117
AMT_REQ_CREDIT_BUREAU_MON     117
AMT_REQ_CREDIT_BUREAU_QRT     117
AMT_REQ_CREDIT_BUREAU_YEAR    117
append_xyz                      0
Length: 122, dtype: int64

In [19]:
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
percent

COMMONAREA_MEDI                70.8
COMMONAREA_AVG                 70.8
COMMONAREA_MODE                70.8
NONLIVINGAPARTMENTS_MEDI       70.0
NONLIVINGAPARTMENTS_MODE       70.0
NONLIVINGAPARTMENTS_AVG        70.0
FONDKAPREMONT_MODE             69.4
LIVINGAPARTMENTS_AVG           68.6
LIVINGAPARTMENTS_MODE          68.6
LIVINGAPARTMENTS_MEDI          68.6
FLOORSMIN_MEDI                 68.2
FLOORSMIN_AVG                  68.2
FLOORSMIN_MODE                 68.2
YEARS_BUILD_AVG                66.7
YEARS_BUILD_MEDI               66.7
YEARS_BUILD_MODE               66.7
OWN_CAR_AGE                    66.0
BASEMENTAREA_MODE              60.2
BASEMENTAREA_AVG               60.2
BASEMENTAREA_MEDI              60.2
LANDAREA_AVG                   60.0
LANDAREA_MODE                  60.0
LANDAREA_MEDI                  60.0
NONLIVINGAREA_MEDI             56.3
NONLIVINGAREA_MODE             56.3
NONLIVINGAREA_AVG              56.3
EXT_SOURCE_1                   56.3
ELEVATORS_AVG                  54.8
ELEVATORS_MODE                 54.8
ELEVATORS_MEDI                 54.8
                               ...
FLAG_DOCUMENT_8                 0.0
FLAG_DOCUMENT_21                0.0
FLAG_DOCUMENT_20                0.0
FLAG_DOCUMENT_19                0.0
FLAG_DOCUMENT_18                0.0
FLAG_DOCUMENT_17                0.0
FLAG_DOCUMENT_16                0.0
FLAG_DOCUMENT_15                0.0
FLAG_DOCUMENT_14                0.0
FLAG_DOCUMENT_13                0.0
FLAG_DOCUMENT_12                0.0
FLAG_DOCUMENT_11                0.0
FLAG_DOCUMENT_10                0.0
FLAG_DOCUMENT_9                 0.0
FLAG_DOCUMENT_7                 0.0
HOUR_APPR_PROCESS_START         0.0
FLAG_DOCUMENT_6                 0.0
FLAG_DOCUMENT_5                 0.0
FLAG_DOCUMENT_4                 0.0
FLAG_DOCUMENT_3                 0.0
FLAG_DOCUMENT_2                 0.0
DAYS_LAST_PHONE_CHANGE          0.0
ORGANIZATION_TYPE               0.0
LIVE_CITY_NOT_WORK_CITY         0.0
REG_CITY_NOT_WORK_CITY          0.0
REG_CITY_NOT_LIVE_CITY          0.0
LIVE_REGION_NOT_WORK_REGION     0.0
REG_REGION_NOT_WORK_REGION      0.0
REG_REGION_NOT_LIVE_REGION      0.0
SK_ID_CURR                      0.0
Length: 122, dtype: float64

In [20]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'append_xyz'],
      dtype='object', length=122)

In [21]:
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)

missing_application_train_data=pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

missing_application_train_data.head(20)

                          Total  Percent
COMMONAREA_MEDI             708     70.8
COMMONAREA_AVG              708     70.8
COMMONAREA_MODE             708     70.8
NONLIVINGAPARTMENTS_MEDI    700     70.0
NONLIVINGAPARTMENTS_MODE    700     70.0
NONLIVINGAPARTMENTS_AVG     700     70.0
FONDKAPREMONT_MODE          694     69.4
LIVINGAPARTMENTS_AVG        686     68.6
LIVINGAPARTMENTS_MODE       686     68.6
LIVINGAPARTMENTS_MEDI       686     68.6
FLOORSMIN_MEDI              682     68.2
FLOORSMIN_AVG               682     68.2
FLOORSMIN_MODE              682     68.2
YEARS_BUILD_AVG             667     66.7
YEARS_BUILD_MEDI            667     66.7
YEARS_BUILD_MODE            667     66.7
OWN_CAR_AGE                 660     66.0
BASEMENTAREA_MODE           602     60.2
BASEMENTAREA_AVG            602     60.2
BASEMENTAREA_MEDI           602     60.2

In [3]:
def make_meta_dataframe(df):
    data = []
    for col in df.columns:
        if df[col].dtype == 'float64':
            level = 'interval'
        elif df[col].dtype == 'int64':
            level = 'ordinal'
        elif df[col].dtype == 'object':
            level = 'categorical'

        col_dict = {
            'varname': col,
            'level': level,
            'dtype': df[col].dtype,
            'response_rate': 100 * df[col].notnull().sum() / df.shape[0]
        }
        data.append(col_dict)
        

    meta = pd.DataFrame(data, columns=['varname', 'level', 'dtype', 'response_rate'])
    meta.set_index('varname', inplace=True)
    return meta

In [4]:
meta1=make_meta_dataframe(df)
meta1

                     level   dtype  response_rate
varname
Store              ordinal   int64          100.0
DayOfWeek          ordinal   int64          100.0
Date           categorical  object          100.0
Sales              ordinal   int64          100.0
Customers          ordinal   int64          100.0
Open               ordinal   int64          100.0
Promo              ordinal   int64          100.0
StateHoliday   categorical  object          100.0
SchoolHoliday      ordinal   int64          100.0

In [ ]:
#to change data type
df.dtypes

In [4]:
df['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64

In [5]:
df['NAME_CONTRACT_TYPE'].value_counts(normalize=True)

Cash loans         0.904787
Revolving loans    0.095213
Name: NAME_CONTRACT_TYPE, dtype: float64

In [6]:
df.loc[0:3, 'NAME_CONTRACT_TYPE']

0         Cash loans
1         Cash loans
2    Revolving loans
3         Cash loans
Name: NAME_CONTRACT_TYPE, dtype: object

In [11]:
df.loc[0:3, ['NAME_CONTRACT_TYPE','TARGET']]

  NAME_CONTRACT_TYPE  TARGET
0         Cash loans       1
1         Cash loans       0
2    Revolving loans       0
3         Cash loans       0

In [13]:
df.loc[axis=1,['NAME_CONTRACT_TYPE','TARGET']]

SyntaxError: invalid syntax (<ipython-input-13-bcb95b3eb100>, line 1)

In [23]:
df.loc[1:3,'TARGET' : 'FLAG_OWN_CAR']

   TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
1       0         Cash loans           F            N
2       0    Revolving loans           M            Y
3       0         Cash loans           F            N

In [18]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
df.iloc[1:2,1:3]

   TARGET NAME_CONTRACT_TYPE
1       0         Cash loans

In [27]:
df.ix[1, 0]

C:\Users\Vikash\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

100003

In [28]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:

df.loc[1,'SK_ID_CURR']

100003

In [31]:
df.set_index('NAME_CONTRACT_TYPE',inplace=True)

In [33]:
df.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
NAME_CONTRACT_TYPE,,,,,,,,,,,,,,,,,,,,,
Cash loans,100002,1,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
Cash loans,100003,0,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
Revolving loans,100004,0,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
Cash loans,100006,0,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
Cash loans,100007,0,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
df.ix[0:1,0]

C:\Users\Vikash\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

NAME_CONTRACT_TYPE
Cash loans    100002
Name: SK_ID_CURR, dtype: int64

In [36]:
df.reset_index(inplace=True)

In [38]:
df.ix[0:2,0]

C:\Users\Vikash\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0         Cash loans
1         Cash loans
2    Revolving loans
Name: NAME_CONTRACT_TYPE, dtype: object

In [16]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [9]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)