In [1]:
#use for getting all column name
import pandas as pd
f=open('C:\\Users\\29265\\Desktop\\Config_Dimension_Cust.txt')
f.seek(0)
a=f.readlines()
a
key=[]
type=[]
#Take one list that will go in report
NotMatch_Column=[]

st=a
for i in st:
    
    for ch in ['MetaData:=',''':=StringType(18):',''''\n',':','ConfigFileInfo','Query','Data','DATAQUALITY','SparkInputArguments','\n']:  
        
        if ch in i:
            i=i.replace(ch,'')
            x=i.split('=')
    key.append(x)
#print(key)
keynew=[]
for i in range(0,len(key)):
    p=key[i]
    p=p[0]
    keynew.append(p)
keynew
while '' in keynew:
    keynew.remove('')
print(keynew)
#print(len(keynew))
import pandas as pd
df_data=pd.read_csv("C:\\Users\\29265\\Desktop\\Data_Dimension_Cust.csv")
#@df3=pd.read_excel("C:\\Users\\29265\\Desktop\\data.xlsx",sheetname='Sheet6')
#df3

data_col=list(df_data.columns)
data_col
insection=list(set(data_col) & set(keynew))
insection
if set(keynew) == set(insection):
    print('passed')
  
    dic_notmatch_col={'Not_Matched_Column':NotMatch_Column}
else:
    NotMatch_Column=list(set(insection)-set(keynew))
    dic_notmatch_col={'Not_Matched_Column':NotMatch_Column}
#if false

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\29265\\Desktop\\Config_Dimension_Cust.txt'

In [16]:
#write a python function to parse a log file and extract details of errors and warnings recorded into a separate file
f=open('C:\\Users\\29265\\Desktop\\log.txt')
f.seek(0)
a=f.readlines()
result1 = [i for i in a if i.startswith('Errors')]
result2 = [i for i in a if i.startswith('warnings')]
finalList = result1 + result2
with open('your_file.txt', 'w') as f:
    for item in finalList:
        f.write("%s\n" % item)

['Errors:=Author:=Mriganka\n',
 'Errors:=CreatedDate:=2018-03-28\n',
 'Errors:=Version:=1.0\n',
 'Errors:=ModifiedDate:=2018-05-14\n',
 'Errors:=ModifiedBy:=Mriganka\n',
 "Errors:=ChangesHistory:=Changed CommercialName,OwnershipType,Status,District,Country,OutletType,RecordTypeName to Nullable fields defaulted with 'N/A'\n"]

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['Name','Roll number','Age','Gender'])
inputrecord=[]
while(True):
    print("Student info")
    total_num_of_students = input("enter student name:")
    inputrecord.append(total_num_of_students)
    total_num_of_students = input("enter student roll:")
    inputrecord.append(total_num_of_students)
    total_num_of_students = input("enter student age:")
    inputrecord.append(total_num_of_students)
    total_num_of_students = input("enter student G:")
    inputrecord.append(total_num_of_students)
    break

df=df.T
indexx=list(df.index)
print(indexx)
s1 = pd.Series(inputrecord, index=[indexx[0], indexx[1], indexx[2], indexx[3]])
df=df.T
result = df.append(s1, ignore_index=True)
print(result)

In [3]:
import re
total_num_of_students = int(input("enter total number of students:"))
print ("you entered %s students" %total_num_of_students)
student_info = {}
student_data = [ 'rollno', 'age', 'gender']
student_data['gender']=re.match
for i in range(0,total_num_of_students):
    student_name = input("Name :")
    student_info[student_name] = {}
    for j in student_data:
        student_info[student_name][j] = input(j)
name = input("to find info enter valid student name")
if name in student_info.keys():
    print (student_info[student_name])
else:
    print("please enter valid name")

enter total number of students:5
you entered 5 students

TypeError: list indices must be integers or slices, not str

In [29]:
result2
finalList = result1 + result2
finalList
with open('your_file.txt', 'w') as f:
    for item in finalList:
        f.write("%s\n" % item)

In [11]:
#to get all dublicate value from primary key column
df_data=pd.read_csv("C:\\Users\\29265\\Desktop\\Data_Dimension_Cust.csv")
df_count_val=df_data.CustId.value_counts()
df_count_val=pd.DataFrame(df_count_val)#columns=['value','count']
#df_count_val
df_count_val_T=df_count_val.T
#df_count_val_T
dublicate_val=[]
primarykeyduplicate_Count=[]
d_count=[]
for i in df_count_val_T.columns: 
    zzz=df_count_val_T[i]
    if zzz[0]!=1:
        #print(i)
           dublicate_val.append(i)
#if dublicate_val==null:
len(dublicate_val)
if len(dublicate_val)!=0:
    print(dublicate_val)
    for j in range(0,len(dublicate_val)):
        a=list(df_count_val_T[dublicate_val[j]])
        a=a[0]
        ex_dic_df_dublicate={'PrimaryKey-CustID_Duplicate_Counts':dublicate_val[j],'Total Count':a}
        primarykeyduplicate_Count.append(ex_dic_df_dublicate)
else:
    print('all record are unique in primary key column')
primarykeyduplicate_Count
pd.DataFrame(primarykeyduplicate_Count)

FileNotFoundError: File b'C:\\Users\\29265\\Desktop\\Data_Dimension_Cust.csv' does not exist

In [ ]:
dublicate_val[0]

In [ ]:
#to get all col n type
import string
import re
f=open('C:\\Users\\29265\\Desktop\\Config_Dimension_Cust.txt')
f.seek(0)
a=f.readlines()
a

id = []
for ln in a:
    if ln.startswith("MetaData:="):
        
        id.append(ln[10:])
#print(id)
lt_dict={}
for i in range(0,len(id)):
    zz=id[i]
    zz=zz.split(':=')
    pp = re.sub('[\n]', '', zz[2])
    lt_dict[zz[0]]=pp
print(lt_dict)

In [ ]:
# columns list #data_col
# lt_dict
#keynew
for i in range(0,len(keynew)):
    for j in range(0,len(data_col)):
        
    
    #print(keynew[i])
    #print(lt_dict[keynew[i]])
        if keynew[i]==data_col[j]:
            type=lt_dict[keynew[i]]
            total_count=list(df_data[keynew[i]])
            
            print(total_count)
            #print(keynew[i])
            print(df_data.shape[0])
        #df_data[i]

In [ ]:
df_data1=pd.read_csv("C:\\Users\\29265\\Desktop\\Data_Dimension_Cust.csv")
#df_count_val12=df_data1.SourceSystemId.value_counts()
df_count_val12=df_data1['CustId'].isnull().sum()
#df.isnull().sum()
print(df_count_val12)
df_data1.shape[0]

In [2]:
def getFileName(path):
    
    b=a.split('\\')
    d=len(b)-1
    f=b[d]
    b=f.split('.')
    return b[0]

In [3]:
confi='C:\\Users\\29265\\Desktop\\Config_Dimension_Cust.txt'
data='C:\\Users\\29265\\Desktop\\Data_Dimension_Cust.csv'

In [4]:
#to get all columns wise null value count
# columns list #data_col
# lt_dict
#keynew
Null_Value_Count=[]

for i in range(0,len(keynew)):
    for j in range(0,len(data_col)):
        
    
    #print(keynew[i])
    #print(lt_dict[keynew[i]])
        if keynew[i]==data_col[j]:
            type=lt_dict[keynew[i]]
            #print(type)
            # | (type=='Nullable'):
            if (type=='NonNullable'):
                
                #df_count_val12 should be equal to zero
                df_count_val12=df_data[keynew[i]].isnull().sum()
                if df_count_val12!=0:
                    print("for column: '{}' total null count is :{}".format(keynew[i],df_count_val12))
                    
                    ex_dic_df={'Column Name':keynew[i],
                               'Null Count':df_count_val12
                        
                    }
                   
                    Null_Value_Count.append(ex_dic_df)
                    #ex_dic_df[keynew[i]]=df_count_val12
                 
            '''   
            if (type=='Nullable'):
                
                #df_count_val12 should be equal to zero
                df_count_val12=df_data[keynew[i]].isnull().sum()
                if df_count_val12!=0:
                    print("for column: '{}' total null count is :{}".format(keynew[i],df_count_val12))
            '''

NameError: name 'keynew' is not defined

In [5]:
# To print all null value in excel ,use #df123
# to print all not match col,use this# NotMatch_Column
#TO PRINT ALL DUBLICATE PRIMARY KEY VAL,USE dublicate_val
c=[]
dfblank=pd.DataFrame(c)
df123=pd.DataFrame(dic_notmatch_col)
#df124=pd.DataFrame(ex_dic_df_dublicate)

df125=pd.DataFrame(Null_Value_Count)

writer = pd.ExcelWriter('Petra_Report.xlsx', engine='xlsxwriter')

dfblank.to_excel(writer, sheet_name='Summary_Report',startrow=2)

df123.to_excel(writer, sheet_name='Sheet2',startrow=2)  # Default position, cell A1.
df124.to_excel(writer, sheet_name='Sheet2',startcol=3,startrow=2)  # Default position, cell A1.
df125.to_excel(writer, sheet_name='Sheet2', startcol=7,startrow=2)

writer.save()

NameError: name 'dic_notmatch_col' is not defined

In [6]:
'''
from openpyxl import load_workbook
import xlsxwriter
wb = load_workbook('C:\\Users\\29265\\Petra_Report.xlsx') 
ws = wb.get_sheet_by_name("Summary_Report")
#use for loop to iterate file name
link = "Petra_Report.xlsx#sheet2!E5"
#below code is to write link
#ws.write_url('A2', link, string='Python Home')
ws.cell(row=2, column=1).hyperlink = (link)

wb.save('C:\\Users\\29265\\Petra_Report.xlsx')
'''

'\nfrom openpyxl import load_workbook\nimport xlsxwriter\nwb = load_workbook(\'C:\\Users\\29265\\Petra_Report.xlsx\') \nws = wb.get_sheet_by_name("Summary_Report")\n#use for loop to iterate file name\nlink = "Petra_Report.xlsx#sheet2!E5"\n#below code is to write link\n#ws.write_url(\'A2\', link, string=\'Python Home\')\nws.cell(row=2, column=1).hyperlink = (link)\n\nwb.save(\'C:\\Users\\29265\\Petra_Report.xlsx\')\n'

In [8]:
import openpyxl
#d=pd.DataFrame({'b':[2,3]})

#print(df134)
c=[]
dfblank=pd.DataFrame(c)
df123=pd.DataFrame(dic_notmatch_col)
#primarykeyduplicate_Count
#df124=pd.DataFrame(ex_dic_df_dublicate)
df124=pd.DataFrame(primarykeyduplicate_Count)
dup_total_Count=df124['Total Count'].sum()
#total_Count=df125['Null Count'].sum()
df125=pd.DataFrame(Null_Value_Count)
total_Count=df125['Null Count'].sum()
f_p_status={'No Of Files Verified':1,
            'No_Of Success':0,
            'No_Of Failed':1
    
    
    
}
b=[]
b.append(f_p_status)
df_f_p_status=pd.DataFrame(b)
#df_f_p_status.style.set_properties(subset=['No Of Files Verified','No_Of Success','No_Of Failed'], **{'width': '1000px'})
df_f_p_status=df_f_p_status.T
dict={'Config':'=HYPERLINK("#Config_Dimension_Cust!A1","Config_Dimension_Cust")',
      'DataFile':'=HYPERLINK("#Config_Dimension_Cust!A1","Data_Dimension_Cust")',
     'Not_Matched_Column':'',
      'Dublicate_Counts_PK':dup_total_Count,
     'NotNullable_Count':total_Count,
     'Status':'=HYPERLINK("#Config_Dimension_Cust!A1","Failed")'
     }
a=[]
a.append(dict)
df134=pd.DataFrame(a)
print(df134)
writer = pd.ExcelWriter('Petra_Report.xlsx', engine='xlsxwriter')

df134.to_excel(writer, sheet_name='Summary_Report',startrow=0,index = False,startcol=0) 
workbook  = writer.book
worksheet = writer.sheets['Summary_Report']
worksheet.set_column('A:G', 20)
worksheet.set_column('H:H', 20)
# Add a header format.
header_format = workbook.add_format({
    'bold': True,
'font_color': 'dark blue',
    'text_wrap': False,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1
    
})


# Write the column headers with the defined format.
for col_num, value in enumerate(df134.columns.values):
    worksheet.write(0, col_num , value, header_format)


df123.to_excel(writer, sheet_name='Config_Dimension_Cust',startrow=2)  # Default position, cell A1.
df124.to_excel(writer, sheet_name='Config_Dimension_Cust',startcol=3,startrow=2)  # Default position, cell A1.
df125.to_excel(writer, sheet_name='Config_Dimension_Cust', startcol=7,startrow=2)

df_f_p_status.to_excel(writer, sheet_name='Summary_Report',header=False,startcol=7) 

#d.to_excel(writer, sheet_name='Config_Dimension_Cust',startrow=1)

writer.save()

NameError: name 'dic_notmatch_col' is not defined

In [16]:
import openpyxl
#d=pd.DataFrame({'b':[2,3]})

#print(df134)
c=[]
dfblank=pd.DataFrame(c)
#df123=pd.DataFrame(dic_notmatch_col)
#primarykeyduplicate_Count
#df124=pd.DataFrame(ex_dic_df_dublicate)
#df124=pd.DataFrame(primarykeyduplicate_Count)
#dup_total_Count=df124['Total Count'].sum()
#total_Count=df125['Null Count'].sum()
#df125=pd.DataFrame(Null_Value_Count)
#total_Count=df125['Null Count'].sum()
f_p_status={'No Of Files Verified':1,
            'No_Of Success':0,
            'No_Of Failed':1
    
    
    
}
b=[]
b.append(f_p_status)
df_f_p_status=pd.DataFrame(b)
#df_f_p_status.style.set_properties(subset=['No Of Files Verified','No_Of Success','No_Of Failed'], **{'width': '1000px'})
df_f_p_status=df_f_p_status.T
dict={'Config':'=HYPERLINK("#Config_Dimension_Cust!A1","Config_Dimension_Cust")',
      'DataFile':'=HYPERLINK("#Config_Dimension_Cust!A1","Data_Dimension_Cust")',
     'Not_Matched_Column':'',
     # 'Dublicate_Counts_PK':dup_total_Count,
    # 'NotNullable_Count':total_Count,
     'Status':'=HYPERLINK("#Config_Dimension_Cust!A1","Failed")'
     }
a=[]
a.append(dict)
df134=pd.DataFrame(a)
print(df134.Status)

0    =HYPERLINK("#Config_Dimension_Cust!A1","Failed")
Name: Status, dtype: object

In [132]:
writer = pd.ExcelWriter('Petra_Report.xlsx', engine='xlsxwriter')
df134.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False)

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']
worksheet.set_column('B:D', 20)
# Add a header format.
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': False,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1
    
})

# Write the column headers with the defined format.
for col_num, value in enumerate(df134.columns.values):
    worksheet.write(0, col_num + 1, value, header_format)

In [ ]:
font_fmt = workbook.add_format({'font_name': 'Arial', 'font_size': 10})
header_fmt = workbook.add_format({'font_name': 'Arial', 'font_size': 10, 'bold': True})

worksheet.set_column('A:A', None, font_fmt)
worksheet.set_row(0, None, header_fmt)

In [129]:
writer = pd.ExcelWriter('Petra_Report.xlsx', engine='xlsxwriter')
pd.core.format.header_style = None
df134.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False)

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

font_fmt = workbook.add_format({'font_name': 'Arial', 'font_size': 10})
header_fmt = workbook.add_format({'font_name': 'Arial', 'font_size': 10, 'bold': True})

worksheet.set_column('A:A', None, font_fmt)
worksheet.set_row(0, None, header_fmt)
writer.save()

AttributeError: module 'pandas.core' has no attribute 'format'

In [61]:
total_Count=df125['Null Count'].sum()

In [62]:
total_Count

11

In [225]:
c=[]
dfblank=pd.DataFrame(c)

In [226]:
dfblank

Empty DataFrame
Columns: []
Index: []

In [195]:
dic_notmatch_col

{}

In [196]:
df123

Empty DataFrame
Columns: []
Index: []

In [137]:
lt=['a','b',3,4]
pd.DataFrame(lt)

   0
0  a
1  b
2  3
3  4

In [94]:
df_data.shape[0]

5

In [96]:
df_count_val12=df_data1['CustId'].isnull().sum()
df_count_val12

2

In [24]:
data_col[0]

'TimeZone'

In [15]:
len(lt_dict)

47

In [18]:
lt_dict['Country']

'Nullable'