# Petra Report Validation

In [1]:
import pandas as pd
#C:\Users\29265\Desktop\petra_report\R2\input_file
allRelease=['R1','R3']
pf='C:\\Users\\29265\\Desktop\\petra_report\\'
input='input_file\\'
release='R2\\'
output='output file\\'
df=pd.read_csv(pf+release+input+'Data_Dimension_Cust.csv')
df.head()

,Revenue,TimeZone,CustId,CustomerCode,LegalName,OriginalPetraCustomer,OwningCustomer,IsVendor,Type1,Banner,...,IsCompetitor,DeliveryLeadTime,PricingProcedure,StateCode,DeactivationDate,ReactivationDate,TemporaryDeactivationDate,CreatedBy,LastUpdateDate,LastUpdatedBy
0,NaN,NaN,0016E00000ZXdVfQAL,163176.0,BAT 123,NaN,NaN,0.0,NaN,NaN,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0056E000003FsnYQAS,2018-07-31T12:10:49.000Z,0056E000003FsnYQAS
1,NaN,NaN,0016E00000ZXdVfQAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
allRelease=['R1','R2']
pf='C:\\Users\\29265\\Desktop\\petra_report\\'
input='\\input_file\\'
release=''
output='output file\\'
dataInput=[]

In [3]:
#To get all input from all releases

#df='df'
import pandas as pd
def GetGoldenInput():
    for i in range(0,len(allRelease)):
        df='df'
        df=df+str(i)
        df=pd.read_csv(pf+allRelease[i]+input+'Data_Dimension_Cust.csv')
        dataInput.append(df)
    #print(dataInput)
    #result = pd.concat(dataInput)
    return dataInput
      
re=GetGoldenInput()

In [4]:
frames = [re[0], re[1]]

result = pd.concat(frames)
#result.['CustId']

In [5]:
result.head()

,AddressLine1,AddressLine2,BATCluster,Banner,BannerCommercialName,BannerLkp,BlockedToSalesReason,CategoriesSold,City,Country,...,SalesChannel,State,StateCode,Status,TaxId,TaxJurisdiction,TemporaryDeactivationDate,TimeZone,Type1,VATRegNo
0,123 DSR,1.0,NaN,NaN,NaN,NaN,NaN,FMC,AAA,NaN,...,NaN,NaN,NaN,Active,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,123 DSR,1.0,NaN,NaN,NaN,NaN,NaN,FMC,NaN,NaN,...,NaN,NaN,NaN,Active,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#merged df has been exported to automation output from all the releases(input) \Actual_output Actualoutput  Goldenoutput.xlsx Golden_output

writer = pd.ExcelWriter('C:\\Users\\29265\\Desktop\\petra_report\\automation_validation\\Golden_output\\Goldenoutput.xlsx', engine='xlsxwriter')

result.to_excel(writer, sheet_name='output',startrow=0,index = False,startcol=0)
#re[1].to_excel(writer, sheet_name='a2',startrow=0,index = False,startcol=0)
writer.save()

In [7]:
#Comapre with result and petra output
petraReport=pd.read_excel("C:\\Users\\29265\\Desktop\\petra_report\\automation_validation\\Actual_output\\Actualoutput.xlsx")
petraReport

,AddressLine1,AddressLine2,BATCluster,Banner,BannerCommercialName,BannerLkp,BlockedToSalesReason,CategoriesSold,City,CountryID,...,SalesChannel,State,StateCode,Status,TaxId,TaxJurisdiction,TemporaryDeactivationDate,TimeZone,Type1,VATRegNo
0,123 DSR,1.0,NaN,NaN,NaN,NaN,NaN,FMC,BBB,NaN,...,NaN,NaN,NaN,Active,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123 DSR,1.0,NaN,NaN,NaN,NaN,NaN,FMC,NaN,NaN,...,NaN,NaN,NaN,Active,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def Unmatched(x,y):
    return list(set(x)-set(y))

In [9]:
data_col_inputS1=list(result.columns)
data_col_outputS1=list(petraReport.columns)
NotMatchedColumns=Unmatched(data_col_inputS1,data_col_outputS1)
len(NotMatchedColumns)

2

In [10]:
def getColumnWiseNotMatchVal(dfread_inputS1,dfread_outputS1):
    colvalue_not_matched=[]
    for i in dfread_inputS1.columns:
        for j in dfread_outputS1.columns:
            if i==j:
                a=list(dfread_inputS1[i])
                b=list(dfread_outputS1[i])
                notmatchval=Unmatched(a,b)
                if len(notmatchval)!=0:
                    dict={
                    'columns':i,
                        'values':notmatchval
                    }
                    colvalue_not_matched.append(dict)
    colvaluenotmatch=pd.DataFrame(colvalue_not_matched)
    return colvaluenotmatch

In [11]:
def GetColum(NotMatchedColumns1):
    
    coln=pd.DataFrame(NotMatchedColumns1)
    coln.rename(columns={0:'Missing /Mismatched Columns in Test System'},inplace=True)
    return coln
ns1=GetColum(NotMatchedColumns)

In [12]:
petraReport.fillna(0,inplace=True)
result.fillna(0,inplace=True)
coldiff=getColumnWiseNotMatchVal(result,petraReport)

In [13]:
a=list(result['CustId'])
b=list(petraReport['CustId'])
print (a)
print(b)
notmatchval=Unmatched(a,b)
notmatchval

['0016E00000ZXdVfQAL', '0016E00000ZXdVfQAP12', '0016E00000ZXdVfQAP111', '0016E00000ZXdVfQAL', '0016E00000ZXdVfQAL']
['0016E00000ZXdVfQAL', '0016E00000ZXdVfQAP', '0016E00000ZXdVfQAL', 0]

['0016E00000ZXdVfQAP111', '0016E00000ZXdVfQAP12']

In [15]:
Legacy_System_Records=result.shape[0]
petraReport_Record=petraReport.shape[0]
arr=[]
'''
dict_ana={
          'Petra System Records':Legacy_System_Records,
    'Test System Records': petraReport_Record,
'Missing Records in Test System':abs(Legacy_System_Records-petraReport_Record),
    'Column Mismatches in Test System':'=HYPERLINK("#details!A1",'
     'Columns MISMATCHES':'=HYPERLINK("#details!A1",'+str(len(NotMatchedColumns))
          
     }
'''  
'=HYPERLINK("#Config_Dimension_Cust!A1","Config_Dimension_Cust")'
a='=HYPERLINK("#details!A1","'
b='")'

            
dict1={'Comparision Summary':'Number of Records in Golden Copy',
       'Count':Legacy_System_Records
}
dict2={'Comparision Summary':'Actual Records in Test System',
       'Count':petraReport_Record}
dict3={'Comparision Summary':'Missing Records in Test System',
       'Count':abs(Legacy_System_Records-petraReport_Record)}
dict4={'Comparision Summary':'Missing /Mismatched Columns in Test System',
       'Count':a+str(len(NotMatchedColumns))+b}
       #'Count':len(NotMatchedColumns)}
dict5={'Comparision Summary':'Values mismatched in Test System',
       'Count':'=HYPERLINK("#details!E1","3")'}

dic={'Number of Records in Golden Copy':Legacy_System_Records,
    'Actual Records in Test System': petraReport_Record,
    'Missing Records in Test System':abs(Legacy_System_Records-petraReport_Record),
    'Missing /Mimatched Columns in Test System':len(NotMatchedColumns),
    'Values mismatched in Test System':3
    }
arr.append(dict1)
arr.append(dict2)
arr.append(dict3)
arr.append(dict4)
arr.append(dict5)

sum_report=pd.DataFrame(arr)
#sum_report=sum_report.T
sum_report

                          Comparision Summary                          Count
0            Number of Records in Golden Copy                              5
1               Actual Records in Test System                              4
2              Missing Records in Test System                              1
3  Missing /Mismatched Columns in Test System  =HYPERLINK("#details!A1","2")
4            Values mismatched in Test System  =HYPERLINK("#details!E1","3")

In [16]:
#petraReport.fillna(0,inplace=True)
#result.fillna(0,inplace=True)
#coldiff=getColumnWiseNotMatchVal(result,petraReport)
#coldiff

In [17]:
def abc(i):
    workbook  = writer.book
    worksheet = writer.sheets[i]
    total_col = workbook.add_format({'align': 'center', 'font_color': 'black',
                                     'bold': True, 'bottom':0,'font_size':10})
    worksheet.set_column('A:F', 20,total_col)
    worksheet.set_column('H:H', 15,total_col)
    total_fmt = workbook.add_format({'align': 'center', 'font_color': 'red',
                                     'bold': True, 'bottom':0,'underline':1})
    worksheet.set_column('C:C', 12, total_fmt)
    # Add a header format.
    ##ffcccc  #D7E4BC
    header_format = workbook.add_format({
        'align': 'center',
        'bold': True,
    'font_color': 'dark blue',
    'font_size':8,
        'text_wrap': False,
        'valign': 'top',
        'fg_color': '#ffcccc',
        'border': 1

    })

In [18]:
writer = pd.ExcelWriter('C:\\Users\\29265\\Desktop\\petra_report\\automation_validation\\report\\Petra_File_Validated_Report.xlsx', engine='xlsxwriter')


#***********************************************************report************************

sum_report.to_excel(writer, sheet_name='Summary_Report',startrow=0,startcol=0,index = False) 
workbook  = writer.book
worksheet = writer.sheets['Summary_Report']
total_col = workbook.add_format({'align': 'center', 'font_color': 'black',
                                 'bold': True, 'bottom':0,'font_size':10})
worksheet.set_column('A:A', 30,total_col)
worksheet.set_column('H:H', 15,total_col)
total_fmt = workbook.add_format({'align': 'center', 'font_color': 'red',
                                 'bold': True, 'bottom':0,'underline':1})
worksheet.set_column('B:B', 12, total_fmt)
# Add a header format.
##ffcccc  #D7E4BC
header_format = workbook.add_format({
    'align': 'center',
    'bold': True,
'font_color': 'dark blue',
'font_size':10,
    'text_wrap': False,
    'valign': 'top',
    'fg_color': '#ffcccc',
    'border': 1
    
})

#=HYPERLINK("#Config_Dimension_Cust!A1","Failed")
# Write the colu8mn headers with the defined format.
for col_num, value in enumerate(sum_report.columns.values):
    worksheet.write(0, col_num , value, header_format)
#abc('Summary_Report')
ns1.to_excel(writer, sheet_name='details',startrow=0,startcol=0,index = False)
#abc('details')
workbook  = writer.book
worksheet = writer.sheets['details']
total_col = workbook.add_format({'align': 'center', 'font_color': 'black',
                                     'bold': True, 'bottom':0,'font_size':10})
worksheet.set_column('A:A', 35,total_col)
worksheet.set_row(0, None, total_col)
worksheet.set_column('H:H', 15,total_col)
total_fmt = workbook.add_format({'align': 'center', 'font_color': 'red',
                                     'bold': True, 'bottom':0,'underline':1})
worksheet.set_column('C:C', 12, total_fmt)
    # Add a header format.
    ##ffcccc  #D7E4BC
header_format = workbook.add_format({
        'align': 'center',
        'bold': True,
    'font_color': 'dark blue',
    'font_size':10,
        'text_wrap': False,
        'valign': 'top',
        'fg_color': '#ffcccc',
        'border': 1

    })
for col_num, value in enumerate(ns1.columns.values):
    worksheet.write(0, col_num , value, header_format)
coldiff.to_excel(writer, sheet_name='details',startrow=0,startcol=3,index = False)  # Default position, cell A1.
#abc('details')
workbook  = writer.book
worksheet = writer.sheets['details']
total_col = workbook.add_format({'align': 'center', 'font_color': 'black',
                                     'bold': True, 'bottom':0,'font_size':10})
worksheet.set_column('D:E', 35,total_col)
#worksheet.set_row(0, None, total_col)
#worksheet.set_column('H:H', 15,total_col)
total_fmt = workbook.add_format({'align': 'center', 'font_color': 'red',
                                     'bold': True, 'bottom':0,'underline':1})
#worksheet.set_column('C:C', 12, total_fmt)
    # Add a header format.
    ##ffcccc  #D7E4BC
header_format = workbook.add_format({
        'align': 'center',
        'bold': True,
    'font_color': 'dark blue',
    'font_size':10,
        'text_wrap': False,
        'valign': 'top',
        'fg_color': '#ffcccc',
        'border': 1

    })
writer.save()