In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Desktop\\train_ross.csv")
df

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,7/31/2015,5263,555,1,1,0,1
1,2,5,7/31/2015,6064,625,1,1,0,1
2,3,5,7/31/2015,8314,821,1,1,0,1
3,4,5,7/31/2015,13995,1498,1,1,0,1
4,5,5,7/31/2015,4822,559,1,1,0,1
5,6,5,7/31/2015,5651,589,1,1,0,1
6,7,5,7/31/2015,15344,1414,1,1,0,1
7,8,5,7/31/2015,8492,833,1,1,0,1
8,9,5,7/31/2015,8565,687,1,1,0,1
9,10,5,7/31/2015,7185,681,1,1,0,1
10,11,5,7/31/2015,10457,1236,1,1,0,1
11,12,5,7/31/2015,8959,962,1,1,0,1
12,13,5,7/31/2015,8821,568,1,1,0,0
13,14,5,7/31/2015,6544,710,1,1,0,1
14,15,5,7/31/2015,9191,766,1,1,0,1
15,16,5,7/31/2015,10231,979,1,1,0,1
16,17,5,7/31/2015,8430,946,1,1,0,1
17,18,5,7/31/2015,10071,936,1,1,0,1
18,19,5,7/31/2015,8234,718,1,1,0,1
19,20,5,7/31/2015,9593,974,1,1,0,0
20,21,5,7/31/2015,9515,682,1,1,0,1
21,22,5,7/31/2015,6566,633,1,1,0,0
22,23,5,7/31/2015,7273,560,1,1,0,1
23,24,5,7/31/2015,14190,1082,1,1,0,1
24,25,5,7/31/2015,14180,1586,1,1,0,1
25,26,5,7/31/2015,7818,611,1,1,0,1
26,27,5,7/31/2015,13213,1263,1,1,0,1
27,28,5,7/31/2015,7301,663,1,1,0,1
28,29,5,7/31/2015,9411,737,1,1,0,1
29,30,5,7/31/2015,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,1/1/2013,0,0,0,0,a,1
1017180,1087,2,1/1/2013,0,0,0,0,a,1
1017181,1088,2,1/1/2013,0,0,0,0,a,1
1017182,1089,2,1/1/2013,0,0,0,0,a,1
1017183,1090,2,1/1/2013,0,0,0,0,a,1
1017184,1091,2,1/1/2013,0,0,0,0,a,1
1017185,1092,2,1/1/2013,0,0,0,0,a,1
1017186,1093,2,1/1/2013,0,0,0,0,a,1
1017187,1094,2,1/1/2013,0,0,0,0,a,1
1017188,1095,2,1/1/2013,0,0,0,0,a,1
1017189,1096,2,1/1/2013,0,0,0,0,a,1
1017190,1097,2,1/1/2013,5961,1405,1,0,a,1
1017191,1098,2,1/1/2013,0,0,0,0,a,1
1017192,1099,2,1/1/2013,0,0,0,0,a,1
1017193,1100,2,1/1/2013,0,0,0,0,a,1
1017194,1101,2,1/1/2013,0,0,0,0,a,1
1017195,1102,2,1/1/2013,0,0,0,0,a,1
1017196,1103,2,1/1/2013,0,0,0,0,a,1
1017197,1104,2,1/1/2013,0,0,0,0,a,1
1017198,1105,2,1/1/2013,0,0,0,0,a,1
1017199,1106,2,1/1/2013,0,0,0,0,a,1
1017200,1107,2,1/1/2013,0,0,0,0,a,1
1017201,1108,2,1/1/2013,0,0,0,0,a,1
1017202,1109,2,1/1/2013,0,0,0,0,a,1
1017203,1110,2,1/1/2013,0,0,0,0,a,1
1017204,1111,2,1/1/2013,0,0,0,0,a,1
1017205,1112,2,1/1/2013,0,0,0,0,a,1
1017206,1113,2,1/1/2013,0,0,0,0,a,1
1017207,1114,2,1/1/2013,0,0,0,0,a,1
1017208,1115,2,1/1/2013,0,0,0,0,a,1

In [ ]:
for i in df.columns:

In [4]:
a=[]
for index in df.iterrows():
    a.append(df[index])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [8]:
a=df[df['Promo']==0]
a

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
5575,1,7,7/26/2015,0,0,0,0,0,0
5576,2,7,7/26/2015,0,0,0,0,0,0
5577,3,7,7/26/2015,0,0,0,0,0,0
5578,4,7,7/26/2015,0,0,0,0,0,0
5579,5,7,7/26/2015,0,0,0,0,0,0
5580,6,7,7/26/2015,0,0,0,0,0,0
5581,7,7,7/26/2015,0,0,0,0,0,0
5582,8,7,7/26/2015,0,0,0,0,0,0
5583,9,7,7/26/2015,0,0,0,0,0,0
5584,10,7,7/26/2015,0,0,0,0,0,1
5585,11,7,7/26/2015,0,0,0,0,0,0
5586,12,7,7/26/2015,0,0,0,0,0,0
5587,13,7,7/26/2015,0,0,0,0,0,0
5588,14,7,7/26/2015,0,0,0,0,0,0
5589,15,7,7/26/2015,0,0,0,0,0,0
5590,16,7,7/26/2015,0,0,0,0,0,0
5591,17,7,7/26/2015,0,0,0,0,0,0
5592,18,7,7/26/2015,0,0,0,0,0,0
5593,19,7,7/26/2015,0,0,0,0,0,0
5594,20,7,7/26/2015,0,0,0,0,0,0
5595,21,7,7/26/2015,0,0,0,0,0,0
5596,22,7,7/26/2015,0,0,0,0,0,0
5597,23,7,7/26/2015,0,0,0,0,0,0
5598,24,7,7/26/2015,0,0,0,0,0,0
5599,25,7,7/26/2015,0,0,0,0,0,0
5600,26,7,7/26/2015,0,0,0,0,0,0
5601,27,7,7/26/2015,0,0,0,0,0,0
5602,28,7,7/26/2015,0,0,0,0,0,0
5603,29,7,7/26/2015,0,0,0,0,0,0
5604,30,7,7/26/2015,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,1/1/2013,0,0,0,0,a,1
1017180,1087,2,1/1/2013,0,0,0,0,a,1
1017181,1088,2,1/1/2013,0,0,0,0,a,1
1017182,1089,2,1/1/2013,0,0,0,0,a,1
1017183,1090,2,1/1/2013,0,0,0,0,a,1
1017184,1091,2,1/1/2013,0,0,0,0,a,1
1017185,1092,2,1/1/2013,0,0,0,0,a,1
1017186,1093,2,1/1/2013,0,0,0,0,a,1
1017187,1094,2,1/1/2013,0,0,0,0,a,1
1017188,1095,2,1/1/2013,0,0,0,0,a,1
1017189,1096,2,1/1/2013,0,0,0,0,a,1
1017190,1097,2,1/1/2013,5961,1405,1,0,a,1
1017191,1098,2,1/1/2013,0,0,0,0,a,1
1017192,1099,2,1/1/2013,0,0,0,0,a,1
1017193,1100,2,1/1/2013,0,0,0,0,a,1
1017194,1101,2,1/1/2013,0,0,0,0,a,1
1017195,1102,2,1/1/2013,0,0,0,0,a,1
1017196,1103,2,1/1/2013,0,0,0,0,a,1
1017197,1104,2,1/1/2013,0,0,0,0,a,1
1017198,1105,2,1/1/2013,0,0,0,0,a,1
1017199,1106,2,1/1/2013,0,0,0,0,a,1
1017200,1107,2,1/1/2013,0,0,0,0,a,1
1017201,1108,2,1/1/2013,0,0,0,0,a,1
1017202,1109,2,1/1/2013,0,0,0,0,a,1
1017203,1110,2,1/1/2013,0,0,0,0,a,1
1017204,1111,2,1/1/2013,0,0,0,0,a,1
1017205,1112,2,1/1/2013,0,0,0,0,a,1
1017206,1113,2,1/1/2013,0,0,0,0,a,1
1017207,1114,2,1/1/2013,0,0,0,0,a,1
1017208,1115,2,1/1/2013,0,0,0,0,a,1

In [10]:
b=df[df['Promo']==1]
b

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,7/31/2015,5263,555,1,1,0,1
1,2,5,7/31/2015,6064,625,1,1,0,1
2,3,5,7/31/2015,8314,821,1,1,0,1
3,4,5,7/31/2015,13995,1498,1,1,0,1
4,5,5,7/31/2015,4822,559,1,1,0,1
5,6,5,7/31/2015,5651,589,1,1,0,1
6,7,5,7/31/2015,15344,1414,1,1,0,1
7,8,5,7/31/2015,8492,833,1,1,0,1
8,9,5,7/31/2015,8565,687,1,1,0,1
9,10,5,7/31/2015,7185,681,1,1,0,1
10,11,5,7/31/2015,10457,1236,1,1,0,1
11,12,5,7/31/2015,8959,962,1,1,0,1
12,13,5,7/31/2015,8821,568,1,1,0,0
13,14,5,7/31/2015,6544,710,1,1,0,1
14,15,5,7/31/2015,9191,766,1,1,0,1
15,16,5,7/31/2015,10231,979,1,1,0,1
16,17,5,7/31/2015,8430,946,1,1,0,1
17,18,5,7/31/2015,10071,936,1,1,0,1
18,19,5,7/31/2015,8234,718,1,1,0,1
19,20,5,7/31/2015,9593,974,1,1,0,0
20,21,5,7/31/2015,9515,682,1,1,0,1
21,22,5,7/31/2015,6566,633,1,1,0,0
22,23,5,7/31/2015,7273,560,1,1,0,1
23,24,5,7/31/2015,14190,1082,1,1,0,1
24,25,5,7/31/2015,14180,1586,1,1,0,1
25,26,5,7/31/2015,7818,611,1,1,0,1
26,27,5,7/31/2015,13213,1263,1,1,0,1
27,28,5,7/31/2015,7301,663,1,1,0,1
28,29,5,7/31/2015,9411,737,1,1,0,1
29,30,5,7/31/2015,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1010490,1086,1,1/7/2013,16229,1495,1,1,0,1
1010491,1087,1,1/7/2013,9575,812,1,1,0,0
1010492,1088,1,1/7/2013,7924,654,1,1,0,0
1010493,1089,1,1/7/2013,14057,1283,1,1,0,0
1010494,1090,1,1/7/2013,10242,1123,1,1,0,0
1010495,1091,1,1/7/2013,13524,976,1,1,0,0
1010496,1092,1,1/7/2013,15603,1425,1,1,0,0
1010497,1093,1,1/7/2013,10228,1004,1,1,0,0
1010498,1094,1,1/7/2013,6214,482,1,1,0,0
1010499,1095,1,1/7/2013,6609,803,1,1,0,0
1010500,1096,1,1/7/2013,5477,601,1,1,0,0
1010501,1097,1,1/7/2013,8426,2190,1,1,0,0
1010502,1098,1,1/7/2013,7909,1044,1,1,0,0
1010503,1099,1,1/7/2013,15536,1463,1,1,0,0
1010504,1100,1,1/7/2013,10270,1064,1,1,0,0
1010505,1101,1,1/7/2013,16094,1334,1,1,0,0
1010506,1102,1,1/7/2013,10075,947,1,1,0,0
1010507,1103,1,1/7/2013,4562,361,1,1,0,1
1010508,1104,1,1/7/2013,6717,523,1,1,0,0
1010509,1105,1,1/7/2013,5073,570,1,1,0,0
1010510,1106,1,1/7/2013,7369,747,1,1,0,0
1010511,1107,1,1/7/2013,10042,941,1,1,0,0
1010512,1108,1,1/7/2013,9884,987,1,1,0,0
1010513,1109,1,1/7/2013,8089,652,1,1,0,0
1010514,1110,1,1/7/2013,8002,819,1,1,0,0
1010515,1111,1,1/7/2013,9444,735,1,1,0,0
1010516,1112,1,1/7/2013,25165,1661,1,1,0,0
1010517,1113,1,1/7/2013,8984,907,1,1,0,0
1010518,1114,1,1/7/2013,21237,2962,1,1,0,0
1010519,1115,1,1/7/2013,6905,471,1,1,0,1