In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Downloads\\train.csv")
df.describe()

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [14]:
#Test=df[round(df.shape[0]*0.20):]
Train=df[:round(df.shape[0]*0.80)]
print(Train)

        Store  DayOfWeek        Date  Sales  Customers  Open  Promo  \
0           1          5  2015-07-31   5263        555     1      1
1           2          5  2015-07-31   6064        625     1      1
2           3          5  2015-07-31   8314        821     1      1
3           4          5  2015-07-31  13995       1498     1      1
4           5          5  2015-07-31   4822        559     1      1
5           6          5  2015-07-31   5651        589     1      1
6           7          5  2015-07-31  15344       1414     1      1
7           8          5  2015-07-31   8492        833     1      1
8           9          5  2015-07-31   8565        687     1      1
9          10          5  2015-07-31   7185        681     1      1
10         11          5  2015-07-31  10457       1236     1      1
11         12          5  2015-07-31   8959        962     1      1
12         13          5  2015-07-31   8821        568     1      1
13         14          5  2015-07-31   6544        710     1      1
14         15          5  2015-07-31   9191        766     1      1
15         16          5  2015-07-31  10231        979     1      1
16         17          5  2015-07-31   8430        946     1      1
17         18          5  2015-07-31  10071        936     1      1
18         19          5  2015-07-31   8234        718     1      1
19         20          5  2015-07-31   9593        974     1      1
20         21          5  2015-07-31   9515        682     1      1
21         22          5  2015-07-31   6566        633     1      1
22         23          5  2015-07-31   7273        560     1      1
23         24          5  2015-07-31  14190       1082     1      1
24         25          5  2015-07-31  14180       1586     1      1
25         26          5  2015-07-31   7818        611     1      1
26         27          5  2015-07-31  13213       1263     1      1
27         28          5  2015-07-31   7301        663     1      1
28         29          5  2015-07-31   9411        737     1      1
29         30          5  2015-07-31   4776        625     1      1
...       ...        ...         ...    ...        ...   ...    ...
813737    573          2  2013-07-02   4918        416     1      1
813738    574          2  2013-07-02   9995        703     1      1
813739    575          2  2013-07-02   5476        553     1      1
813740    576          2  2013-07-02   8721       1139     1      1
813741    577          2  2013-07-02   5974        672     1      1
813742    578          2  2013-07-02  11179        978     1      1
813743    579          2  2013-07-02  10691       1084     1      1
813744    580          2  2013-07-02  13531       2004     1      1
813745    581          2  2013-07-02   8316        797     1      1
813746    582          2  2013-07-02   9893       1117     1      1
813747    583          2  2013-07-02   5453        511     1      1
813748    584          2  2013-07-02   5751        475     1      1
813749    585          2  2013-07-02   7597       1028     1      1
813750    586          2  2013-07-02  16878       2361     1      1
813751    587          2  2013-07-02   7709        568     1      1
813752    588          2  2013-07-02   6936        667     1      1
813753    589          2  2013-07-02   5824        607     1      1
813754    590          2  2013-07-02   4041        351     1      1
813755    591          2  2013-07-02   6399        549     1      1
813756    592          2  2013-07-02   6031        739     1      1
813757    593          2  2013-07-02  11348       1374     1      1
813758    594          2  2013-07-02   5533        571     1      1
813759    595          2  2013-07-02  16709       1894     1      1
813760    596          2  2013-07-02   4818        725     1      1
813761    597          2  2013-07-02   6280        840     1      1
813762    598          2  2013-07-02   6028        758     1      1
813763    599          2  2013-07-02  10110        895     1      1
813764    600          2  2013-07-02   7793        611     1      1
813765    601          2  2013-07-02   4530        377     1      1
813766    602          2  2013-07-02   8394        729     1      1

       StateHoliday  SchoolHoliday
0                 0              1
1                 0              1
2                 0              1
3                 0              1
4                 0              1
5                 0              1
6                 0              1
7                 0              1
8                 0              1
9                 0              1
10                0              1
11                0              1
12                0              0
13                0              1
14                0              1
15                0              1
16                0              1
17                0              1
18                0              1
19                0              0
20                0              1
21                0              0
22                0              1
23                0              1
24                0              1
25                0              1
26                0              1
27                0              1
28                0              1
29                0              1
...             ...            ...
813737            0              0
813738            0              0
813739            0              0
813740            0              1
813741            0              1
813742            0              1
813743            0              0
813744            0              1
813745            0              0
813746            0              0
813747            0              0
813748            0              0
813749            0              1
813750            0              0
813751            0              0
813752            0              1
813753            0              0
813754            0              0
813755            0              0
813756            0              0
813757            0              1
813758            0              1
813759            0              1
813760            0              1
813761            0              0
813762            0              0
813763            0              1
813764            0              1
813765            0              0
813766            0              0

[813767 rows x 9 columns]

In [19]:
b= (df.shape[0]-round(df.shape[0]*0.80))+1
b

203443

In [24]:
test=df[b:b+5]
test

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
203443,514,5,2015-01-30,7697,718,1,1,0,0
203444,515,5,2015-01-30,11407,826,1,1,0,0
203445,516,5,2015-01-30,6488,776,1,1,0,0
203446,517,5,2015-01-30,6629,676,1,1,0,0
203447,518,5,2015-01-30,8024,601,1,1,0,0

In [13]:
a=df.shape[0]*0.80
a

AttributeError: 'float' object has no attribute 'astype'

In [ ]:
b=df.shape