In [59]:
import pandas as pd
df=pd.read_excel('C:\\Users\\29265\\Desktop\\data.xlsx',sheetname='Sheet6')

In [6]:
from scipy import stats
import numpy as np
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

   sales  units  trans
0      2      4      6
1      1      3      6
2      4      3      7
3      7      2      4
4      6      5      5
5     23     45     23
6     89     90     56
7   2000   2100   1000

In [32]:
def remove_outlier(df_in):
    for i in df.columns:
        
        q1 = df_in[i].quantile(0.25)
        q3 = df_in[i].quantile(0.75)
        iqr = q3-q1 #Interquartile range
        fence_low  = q1-1.5*iqr
        fence_high = q3+1.5*iqr
        df_out = df_in.loc[(df_in[i] > fence_low) & (df_in[i] < fence_high)]
    return df_out

In [33]:
df=remove_outlier(df)

In [34]:
df

   sales  units  trans
0      2      4      6
1      1      3      6
2      4      3      7
3      7      2      4
4      6      5      5
5     23     45     23
6     89     90     56

In [20]:
for i in range(0, 5):
    for j in range(5, i, -1):
        print("* ", end="")
    print()

* * * * *
* * * *
* * *
* *
*

In [35]:
df['sales'].median()

6.0

In [118]:
df=df.corr()
df

          sales     units     trans
sales  1.000000  0.999939  0.999934
units  0.999939  1.000000  0.999946
trans  0.999934  0.999946  1.000000

In [129]:
a=list(df.corr().abs().unstack()> 0.5)
df[a[2]]

KeyError: True

In [49]:
for i in df.columns:
    if -1<df[i] & df[i] >-0.8:
        print (df[i])

TypeError: unsupported operand type(s) for &: 'float' and 'bool'

In [ ]:
def compute( a, b) :
    AM = (a + b) / 2
    GM = math.sqrt(a * b)
    HM = (GM * GM) / AM
    return HM

In [52]:
df

   sales  units  trans
0      2      4      6
1      1      3      6
2      4      3      7
3      7      2      4
4      6      5      5
5     23     45     23
6     89     90     56
7   2000   2100   1000

In [53]:
df.shape[0]

8

In [56]:
AM=df['sales'].sum()/df.shape[0]

In [62]:
import math
GM=math.sqrt(df['sales'].prod())

In [63]:
GM

37088.866253904285

In [64]:
HM=(GM * GM) / AM

In [65]:
HM

5161666.041275797

In [117]:
p=''
for i in range(0,4):
    for j in range(0,i):
        p=p+a
        if(len(p)==6):
            break
        print (p+'$'+p)
        print()

a$a

aa$aa

aaa$aaa

aaaa$aaaa

aaaaa$aaaaa

In [1]:
add = lambda x, y : x + y 
add(2,3)

5

In [2]:
type(add)

function