In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Downloads\\Train_Dataset.csv")
df.head(5)

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Male,...,Store format 1,Store format 2,Store format 3,Store format 4,Store format 5,Store format 6,Store format 7,Store format 8,Store format 9,Store format 10
0,1,5,26-04-2018,5263,555,1,1,0,1,5844,...,1,1,1,0,1,1,0,0,0,0
1,2,5,26-04-2018,6064,625,1,1,0,1,4398,...,1,1,1,0,0,1,1,1,1,0
2,3,5,26-04-2018,8314,821,1,1,0,1,5380,...,1,1,1,0,1,0,0,0,1,1
3,4,5,26-04-2018,13995,1498,1,1,0,1,4010,...,1,1,0,0,0,1,1,0,1,1
4,5,5,26-04-2018,4822,559,1,1,0,1,4495,...,1,0,1,0,1,0,0,1,0,1