In [16]:
a=240
if(a%2==0):
    print ("NO is even")
    
else:
    print ("no is odd")

NO is even

In [25]:
b="Vikash"
c=len(b)

if(c%2==0):
    print(f"{c},'simple'")
    
d=b[0]
if(d=='s'):
    print(f"{d},'start with s'")
else:
    print(f"{d},'not starts with s'")

6,'simple'
V,'not starts with s'

In [34]:
a="aikash kumar"
for i in a.split():
    if(i[0]=="a"):
        print(f"{i},'Stafxhgdsfahdghdgrt with a'")
    else:
              print(f"{i},'Start with'")
for i in a.split():
    if(len(i)%2==0):
        print (f"{i},'no is even'")
    else:
        print (f"{i},'no is odd'")

aikash,'Stafxhgdsfahdghdgrt with a'
kumar,'Start with'
aikash,'no is even'
kumar,'no is odd'

In [35]:
a=input()
print (a)

b={int(input())}
print (b)

12
12
ws

ValueError: invalid literal for int() with base 10: 'ws'

In [36]:
a=True
while():
    if(input()==)

34
ty

ValueError: invalid literal for int() with base 10: 'ty'

In [5]:
a=4
print("value{}{}".format(a,a))
print(f"{a},'hhh'")

value44
4,'hhh'

In [5]:
for i in range(1,6):
    print (i)

1
2
3
4
5

In [7]:
a=[2,3,4,56]
b=[2,3,4]
notM=[]
for i in range(len(a)):
    #print(a[i])
    for j in range(len(b)):
        if(a[i]!=b[j]):
            
            notM.append(a[i])
notM

[2, 2, 3, 3, 4, 4, 56, 56, 56]

In [9]:
'''
Created on Feb 9, 2019

@author: 29265
'''
#C:\Users\29265\Desktop\TSPOC
import pandas as pd
df_ITCOP=pd.read_excel("C:\\Users\\29265\\Desktop\\pythonAssignment.xlsx",sheet_name='sheet1')
df_TM=pd.read_excel("C:\\Users\\29265\\Desktop\\pythonAssignment.xlsx",sheet_name='sheet1')
#df_ITCOP.head(2)

df_TM=df_TM.T
df_ITCOP=df_ITCOP.T
df_TM

           0       1       2        3        4        5
emp    11212   32432   35376    98674    36367    87363
name    john    ryan   roger     alex     kane    mitch
age       28      34      29       28       29       30
sal   300000  400000  342882  3423221  5435636  4232455

In [10]:
for i in range(0,len(df_TM.columns)):
    
    for j in range(0,len(df_ITCOP.columns)):
        #id validation
        if list(df_TM[i])[0]== list(df_ITCOP[j])[0] and str(list(df_TM[i])[1])==str(list(df_ITCOP[j])[1]):
            break
        if(j==len(df_ITCOP.columns)):
            print(list(df_TM[i])[0])
            print(str(list(df_TM[i])[1]))

In [15]:
a=5
b=6
print (f"{a},'hhfg'")
print ("the val of a and b is {}, {}".format(a,b))
c=range(1,4)
print (c)

5,'hhfg'
the val of a and b is 5, 6
range(1, 4)