In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\29265\\Downloads\\train_ross.csv")
#df.describe()
df

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,7/31/2015,5263,555,1,1,0,1
1,2,5,7/31/2015,6064,625,1,1,0,1
2,3,5,7/31/2015,8314,821,1,1,0,1
3,4,5,7/31/2015,13995,1498,1,1,0,1
4,5,5,7/31/2015,4822,559,1,1,0,1
5,6,5,7/31/2015,5651,589,1,1,0,1
6,7,5,7/31/2015,15344,1414,1,1,0,1
7,8,5,7/31/2015,8492,833,1,1,0,1
8,9,5,7/31/2015,8565,687,1,1,0,1
9,10,5,7/31/2015,7185,681,1,1,0,1
10,11,5,7/31/2015,10457,1236,1,1,0,1
11,12,5,7/31/2015,8959,962,1,1,0,1
12,13,5,7/31/2015,8821,568,1,1,0,0
13,14,5,7/31/2015,6544,710,1,1,0,1
14,15,5,7/31/2015,9191,766,1,1,0,1
15,16,5,7/31/2015,10231,979,1,1,0,1
16,17,5,7/31/2015,8430,946,1,1,0,1
17,18,5,7/31/2015,10071,936,1,1,0,1
18,19,5,7/31/2015,8234,718,1,1,0,1
19,20,5,7/31/2015,9593,974,1,1,0,0
20,21,5,7/31/2015,9515,682,1,1,0,1
21,22,5,7/31/2015,6566,633,1,1,0,0
22,23,5,7/31/2015,7273,560,1,1,0,1
23,24,5,7/31/2015,14190,1082,1,1,0,1
24,25,5,7/31/2015,14180,1586,1,1,0,1
25,26,5,7/31/2015,7818,611,1,1,0,1
26,27,5,7/31/2015,13213,1263,1,1,0,1
27,28,5,7/31/2015,7301,663,1,1,0,1
28,29,5,7/31/2015,9411,737,1,1,0,1
29,30,5,7/31/2015,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,1/1/2013,0,0,0,0,a,1
1017180,1087,2,1/1/2013,0,0,0,0,a,1
1017181,1088,2,1/1/2013,0,0,0,0,a,1
1017182,1089,2,1/1/2013,0,0,0,0,a,1
1017183,1090,2,1/1/2013,0,0,0,0,a,1
1017184,1091,2,1/1/2013,0,0,0,0,a,1
1017185,1092,2,1/1/2013,0,0,0,0,a,1
1017186,1093,2,1/1/2013,0,0,0,0,a,1
1017187,1094,2,1/1/2013,0,0,0,0,a,1
1017188,1095,2,1/1/2013,0,0,0,0,a,1
1017189,1096,2,1/1/2013,0,0,0,0,a,1
1017190,1097,2,1/1/2013,5961,1405,1,0,a,1
1017191,1098,2,1/1/2013,0,0,0,0,a,1
1017192,1099,2,1/1/2013,0,0,0,0,a,1
1017193,1100,2,1/1/2013,0,0,0,0,a,1
1017194,1101,2,1/1/2013,0,0,0,0,a,1
1017195,1102,2,1/1/2013,0,0,0,0,a,1
1017196,1103,2,1/1/2013,0,0,0,0,a,1
1017197,1104,2,1/1/2013,0,0,0,0,a,1
1017198,1105,2,1/1/2013,0,0,0,0,a,1
1017199,1106,2,1/1/2013,0,0,0,0,a,1
1017200,1107,2,1/1/2013,0,0,0,0,a,1
1017201,1108,2,1/1/2013,0,0,0,0,a,1
1017202,1109,2,1/1/2013,0,0,0,0,a,1
1017203,1110,2,1/1/2013,0,0,0,0,a,1
1017204,1111,2,1/1/2013,0,0,0,0,a,1
1017205,1112,2,1/1/2013,0,0,0,0,a,1
1017206,1113,2,1/1/2013,0,0,0,0,a,1
1017207,1114,2,1/1/2013,0,0,0,0,a,1
1017208,1115,2,1/1/2013,0,0,0,0,a,1

In [4]:
df.Sales.mean()

5773.818972305593

In [7]:
j=0
for i in df.Sales:
    j=i+j
x=j/df.shape[0]
mean=df.Sales.mean()

In [11]:
df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [13]:
std=df.Sales.std()
std

3849.926175241448

In [14]:
df.sample(40)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
852336,147,2,5/28/2013,7865,796,1,1,0,0
40003,979,5,6/26/2015,6323,616,1,0,0,0
851700,626,3,5/29/2013,10487,932,1,1,0,0
989624,290,5,1/25/2013,6927,704,1,1,0,0
543756,422,6,3/1/2014,4474,429,1,0,0,0
681565,1086,2,10/29/2013,11157,846,1,0,0,0
33565,116,3,7/1/2015,8358,812,1,1,0,0
49106,47,3,6/17/2015,9298,1061,1,1,0,0
367925,777,3,8/13/2014,3371,310,1,0,0,1
795354,30,4,7/18/2013,7027,1021,1,1,0,0
693214,470,5,10/18/2013,10289,1643,1,0,0,0
350694,300,7,8/31/2014,0,0,0,0,0,1
951576,152,4,2/28/2013,4309,531,1,0,0,0
767282,948,2,8/13/2013,4866,1262,1,1,0,1
651845,356,7,11/24/2013,0,0,0,0,0,0
878618,784,7,5/5/2013,0,0,0,0,0,0
242663,810,4,12/25/2014,0,0,0,0,c,1
122423,889,1,4/13/2015,5914,555,1,1,0,0
933199,730,7,3/17/2013,0,0,0,0,0,0
850189,230,4,5/30/2013,7588,908,1,1,0,0
253615,481,6,12/13/2014,6836,577,1,0,0,0
594654,30,2,1/14/2014,4697,819,1,0,0,0
691539,1025,7,10/20/2013,0,0,0,0,0,0
452276,372,4,5/22/2014,8398,748,1,1,0,0
499793,1059,4,4/10/2014,6922,997,1,0,0,0
589002,1068,1,1/20/2014,6584,384,1,1,0,0
588481,547,1,1/20/2014,8395,539,1,1,0,0
158368,39,3,3/11/2015,4132,592,1,0,0,0
925383,719,7,3/24/2013,0,0,0,0,0,0
581257,13,7,1/26/2014,0,0,0,0,0,0
334456,998,4,9/18/2014,4077,510,1,1,0,0
760729,1085,1,8/19/2013,6275,720,1,0,0,0
144918,1084,2,3/24/2015,5673,770,1,0,0,0
308193,905,4,10/16/2014,4910,852,1,0,0,1
60606,397,7,6/7/2015,0,0,0,0,0,0
161485,926,1,3/9/2015,5638,475,1,0,0,0
40412,273,4,6/25/2015,6607,657,1,0,0,0
779374,775,5,8/2/2013,10216,748,1,1,0,1
73475,1001,3,5/27/2015,5369,577,1,0,0,0
777489,5,6,8/3/2013,1778,250,1,0,0,0

In [27]:
df_firstsample_mean=df_firstsample.mean()
df_mean=df.Sales.mean()
df_mean
df_firstsample_mean

6130.941176470588

In [28]:
df_mean

5773.818972305593

In [66]:
df_firstsample_std=df_firstsample.std()
c=list(df.columns)
c

['Store',
 'DayOfWeek',
 'Date',
 'Sales',
 'Customers',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday']

In [71]:
for i in c:
    print(df[i])

0             1
1             2
2             3
3             4
4             5
5             6
6             7
7             8
8             9
9            10
10           11
11           12
12           13
13           14
14           15
15           16
16           17
17           18
18           19
19           20
20           21
21           22
22           23
23           24
24           25
25           26
26           27
27           28
28           29
29           30
           ...
1017179    1086
1017180    1087
1017181    1088
1017182    1089
1017183    1090
1017184    1091
1017185    1092
1017186    1093
1017187    1094
1017188    1095
1017189    1096
1017190    1097
1017191    1098
1017192    1099
1017193    1100
1017194    1101
1017195    1102
1017196    1103
1017197    1104
1017198    1105
1017199    1106
1017200    1107
1017201    1108
1017202    1109
1017203    1110
1017204    1111
1017205    1112
1017206    1113
1017207    1114
1017208    1115
Name: Store, Length: 1017209, dtype: int64
0          5
1          5
2          5
3          5
4          5
5          5
6          5
7          5
8          5
9          5
10         5
11         5
12         5
13         5
14         5
15         5
16         5
17         5
18         5
19         5
20         5
21         5
22         5
23         5
24         5
25         5
26         5
27         5
28         5
29         5
          ..
1017179    2
1017180    2
1017181    2
1017182    2
1017183    2
1017184    2
1017185    2
1017186    2
1017187    2
1017188    2
1017189    2
1017190    2
1017191    2
1017192    2
1017193    2
1017194    2
1017195    2
1017196    2
1017197    2
1017198    2
1017199    2
1017200    2
1017201    2
1017202    2
1017203    2
1017204    2
1017205    2
1017206    2
1017207    2
1017208    2
Name: DayOfWeek, Length: 1017209, dtype: int64
0          7/31/2015
1          7/31/2015
2          7/31/2015
3          7/31/2015
4          7/31/2015
5          7/31/2015
6          7/31/2015
7          7/31/2015
8          7/31/2015
9          7/31/2015
10         7/31/2015
11         7/31/2015
12         7/31/2015
13         7/31/2015
14         7/31/2015
15         7/31/2015
16         7/31/2015
17         7/31/2015
18         7/31/2015
19         7/31/2015
20         7/31/2015
21         7/31/2015
22         7/31/2015
23         7/31/2015
24         7/31/2015
25         7/31/2015
26         7/31/2015
27         7/31/2015
28         7/31/2015
29         7/31/2015
             ...
1017179     1/1/2013
1017180     1/1/2013
1017181     1/1/2013
1017182     1/1/2013
1017183     1/1/2013
1017184     1/1/2013
1017185     1/1/2013
1017186     1/1/2013
1017187     1/1/2013
1017188     1/1/2013
1017189     1/1/2013
1017190     1/1/2013
1017191     1/1/2013
1017192     1/1/2013
1017193     1/1/2013
1017194     1/1/2013
1017195     1/1/2013
1017196     1/1/2013
1017197     1/1/2013
1017198     1/1/2013
1017199     1/1/2013
1017200     1/1/2013
1017201     1/1/2013
1017202     1/1/2013
1017203     1/1/2013
1017204     1/1/2013
1017205     1/1/2013
1017206     1/1/2013
1017207     1/1/2013
1017208     1/1/2013
Name: Date, Length: 1017209, dtype: object
0           5263
1           6064
2           8314
3          13995
4           4822
5           5651
6          15344
7           8492
8           8565
9           7185
10         10457
11          8959
12          8821
13          6544
14          9191
15         10231
16          8430
17         10071
18          8234
19          9593
20          9515
21          6566
22          7273
23         14190
24         14180
25          7818
26         13213
27          7301
28          9411
29          4776
           ...
1017179        0
1017180        0
1017181        0
1017182        0
1017183        0
1017184        0
1017185        0
1017186        0
1017187        0
1017188        0
1017189        0
1017190     5961
1017191        0
1017192        0
1017193        0
1017194        0
1017195        0
1017196        0
1017197        0
1017198        0
1017199        0
1017200        0
1017201        0
1017202        0
1017203        0
1017204        0
1017205        0
1017206        0
1017207        0
1017208        0
Name: Sales, Length: 1017209, dtype: int64
0           555
1           625
2           821
3          1498
4           559
5           589
6          1414
7           833
8           687
9           681
10         1236
11          962
12          568
13          710
14          766
15          979
16          946
17          936
18          718
19          974
20          682
21          633
22          560
23         1082
24         1586
25          611
26         1263
27          663
28          737
29          625
           ...
1017179       0
1017180       0
1017181       0
1017182       0
1017183       0
1017184       0
1017185       0
1017186       0
1017187       0
1017188       0
1017189       0
1017190    1405
1017191       0
1017192       0
1017193       0
1017194       0
1017195       0
1017196       0
1017197       0
1017198       0
1017199       0
1017200       0
1017201       0
1017202       0
1017203       0
1017204       0
1017205       0
1017206       0
1017207       0
1017208       0
Name: Customers, Length: 1017209, dtype: int64
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
1017179    0
1017180    0
1017181    0
1017182    0
1017183    0
1017184    0
1017185    0
1017186    0
1017187    0
1017188    0
1017189    0
1017190    1
1017191    0
1017192    0
1017193    0
1017194    0
1017195    0
1017196    0
1017197    0
1017198    0
1017199    0
1017200    0
1017201    0
1017202    0
1017203    0
1017204    0
1017205    0
1017206    0
1017207    0
1017208    0
Name: Open, Length: 1017209, dtype: int64
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
1017179    0
1017180    0
1017181    0
1017182    0
1017183    0
1017184    0
1017185    0
1017186    0
1017187    0
1017188    0
1017189    0
1017190    0
1017191    0
1017192    0
1017193    0
1017194    0
1017195    0
1017196    0
1017197    0
1017198    0
1017199    0
1017200    0
1017201    0
1017202    0
1017203    0
1017204    0
1017205    0
1017206    0
1017207    0
1017208    0
Name: Promo, Length: 1017209, dtype: int64
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
1017179    a
1017180    a
1017181    a
1017182    a
1017183    a
1017184    a
1017185    a
1017186    a
1017187    a
1017188    a
1017189    a
1017190    a
1017191    a
1017192    a
1017193    a
1017194    a
1017195    a
1017196    a
1017197    a
1017198    a
1017199    a
1017200    a
1017201    a
1017202    a
1017203    a
1017204    a
1017205    a
1017206    a
1017207    a
1017208    a
Name: StateHoliday, Length: 1017209, dtype: object
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         0
13         1
14         1
15         1
16         1
17         1
18         1
19         0
20         1
21         0
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
1017179    1
1017180    1
1017181    1
1017182    1
1017183    1
1017184    1
1017185    1
1017186    1
1017187    1
1017188    1
1017189    1
1017190    1
1017191    1
1017192    1
1017193    1
1017194    1
1017195    1
1017196    1
1017197    1
1017198    1
1017199    1
1017200    1
1017201    1
1017202    1
1017203    1
1017204    1
1017205    1
1017206    1
1017207    1
1017208    1
Name: SchoolHoliday, Length: 1017209, dtype: int64

In [134]:
import math as m
c=list(df.columns)
df
df_firstsample=df['Sales'].sample(102)
df_firstsample_mean=df_firstsample.mean()
c=list(df.columns)
df_mean=df.Sales.mean()
df_firstsample_std=df_firstsample.std()
z=(df_firstsample_mean-df_mean)/(df_firstsample_std/m.sqrt(102))
z

-0.38025989743203764

In [105]:
# one sample z value
import math as m
df=pd.read_csv("C:\\Users\\29265\\Downloads\\train_ross.csv")
df_firstsample=df.Sales.sample(102)
df_firstsample_mean=df_firstsample.mean()
df_mean=df.Sales.mean()
df_firstsample_std=df_firstsample.std()
z=(df_firstsample_mean-df_mean)/(df_firstsample_std/m.sqrt(102))
z

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

-0.32489197495179256

In [95]:
def find_Z_Val_First_Sample(coln,no_of_observation):
  #  print (coln)
  #  print(no_of_observation)
    df=pd.read_csv("C:\\Users\\29265\\Downloads\\train_ross.csv")
    coln=""+coln+""
    df_firstsample=df[coln].sample(no_of_observation)
    df_firstsample_mean=df_firstsample.mean()
    df_mean=df[coln].mean()
    df_firstsample_std=df_firstsample.std()
    z=(df_firstsample_mean-df_mean)/(df_firstsample_std/m.sqrt(no_of_observation))
    return z

In [103]:
def red(col):
    col=""+col+""
    df=pd.read_csv("C:\\Users\\29265\\Downloads\\train_ross.csv")
    df.col

In [96]:
abs = find_Z_Val_First_Sample(Sales,100)
abs

C:\Users\29265\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')

In [131]:
x=df.Sales
x=np.array(x)
x.sum()

5873180623

In [135]:
import numpy as np
def f1(x):
    x=np.array(x)
    return x.sum()

In [136]:
a=f1(df.Sales)
a

5873180623

In [124]:
a

In [107]:
df.Sales

0           5263
1           6064
2           8314
3          13995
4           4822
5           5651
6          15344
7           8492
8           8565
9           7185
10         10457
11          8959
12          8821
13          6544
14          9191
15         10231
16          8430
17         10071
18          8234
19          9593
20          9515
21          6566
22          7273
23         14190
24         14180
25          7818
26         13213
27          7301
28          9411
29          4776
           ...
1017179        0
1017180        0
1017181        0
1017182        0
1017183        0
1017184        0
1017185        0
1017186        0
1017187        0
1017188        0
1017189        0
1017190     5961
1017191        0
1017192        0
1017193        0
1017194        0
1017195        0
1017196        0
1017197        0
1017198        0
1017199        0
1017200        0
1017201        0
1017202        0
1017203        0
1017204        0
1017205        0
1017206        0
1017207        0
1017208        0
Name: Sales, Length: 1017209, dtype: int64